.genericRadioHolder {
  .radio {
    opacity: 0;
    position: absolute;
  }

  .genericFormRadiobutton {
    display: flex;
    align-items: center;
    .innerCircle {
      background-color: $primarygreen;
      position: absolute;
      border-radius: 50%;
    }
    .outerCircle {
      color: $lightgrey-darker;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $lightgrey-darkest;
      }
    }
  }
  input[type="checkbox"]:checked + label {
    &:hover {
      .outerCircle {
        color: $primarygreen-dark;
      }
      .innerCircle {
        background-color: $primarygreen-dark;
      }
    }
    .outerCircle {
      color: $primarygreen;
    }
  }
  input[type="checkbox"]:disabled + label {
    .genericFormHolder {
      pointer-events: none;
    }

    .outerCircle {
      color: $primarygreen-light;
    }
    .innerCircle {
      background-color: $primarygreen-light;
    }
  }
  input[type="checkbox"]:disabled:checked + label {
    .genericFormHolder {
      pointer-events: none;
    }

    .outerCircle {
      color: $primarygreen-light;
    }
    .innerCircle {
      background-color: $primarygreen-light;
    }
  }
}
