.universalLabel {
  font-size: 12px;
  padding-bottom: 4px;
  color: $midgrey-dark;
  display: block;
}
.passwordIcon {
  width: 20px;
  text-align: center;
  margin: 0px 8px;
  cursor: pointer;
}
.universalLabelInput {
  display: flex;
  border: solid 1px $lightgrey-darker;
  border-radius: 8px;
  &:hover {
    border-color: $lightgrey-darkest;
    color: #2a3642;
  }
  &:focus-within {
    border-color: $primarygreen;
    color: #2a3642;
  }
  &.scrollable {
    &::-webkit-scrollbar-thumb {
      background: #ccc;
    }

    &::-webkit-scrollbar-track {
      background: #f5f5f5ff;
    }

    &::-webkit-scrollbar {
      height: 8px;
    }
  }
}

.universalTextInput {
  color: $midgrey-dark;
  text-align: left;
  font-family: "Roboto";
  padding: 0px 8px;
  user-select: none;

  &:disabled {
    border-color: $lightgrey-light;
    color: $midgrey-light;
    &:hover {
      border-color: $lightgrey-light;
      color: $midgrey-light;
    }
    .universalLabel {
      color: $midgrey-light;
    }
    .universalHelperText {
      color: $midgrey-light;
    }
  }
}

.textField {
  position: relative;
  &.disabled {
    border-color: $lightgrey-light;
    color: $midgrey-light;
    &:hover {
      border-color: $lightgrey-light;
      color: $midgrey-light;
    }
    .universalLabel {
      color: $midgrey-light;
    }
    .universalHelperText {
      color: $midgrey-light;
    }
  }
}

.universalHelperText {
  font-size: 12px;
  padding-top: 4px;
  position: absolute;
  top: 56px;
  color: $midgrey-dark;
}
