.appOverviewCard {
  .cardSection:first-child {
    background-color: $lightgrey-lighter;
  }

  .picHolder {
    padding-top: 56%;
  }

  &.wide .picHolder {
    padding-top: 26%;
  }

  .header {
    width: calc(100% - 32px);
    min-height: 48px;
  }

  .starRatingHolder {
    margin-top: 9px;
    font-size: 12px;
  }

  .headerTags {
    margin: -4px 0 -4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tag:nth-child(2) {
      margin-top: 8px;
    }
  }

  .tagsRow {
    min-height: 64px;
  }

  .descriptionSection {
    height: 96px; // same as height of inner p

    p {
      // despite being prefixed with -webkit, these are widely supported
      // for more details, google -webkit-line-clamp
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;

      line-height: 24px;
      height: 96px; // 4*line-height
    }
  }
}
