.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 1px #00000026;
  border: 1px solid #f4f5f7;
  font-size: 14px;
  background-color: $white;

  &.clickable:hover {
    box-shadow: 0 3px 4px #00000026;
    cursor: pointer;
  }

  .header {
    display: flex;
    align-items: center;

    .pic {
      display: flex;
      margin-right: 16px;
    }

    .title {
      display: flex;
      flex-grow: 1;
      font-weight: 500;
      padding: 4px 0;
    }

    > :last-child {
      margin-left: 16px;
      align-self: flex-start;
    }
  }

  > hr {
    border: none;
    border-top: 1px solid $lightgrey-dark;
    margin: 0 16px;

    &:last-child {
      display: none;
    }
  }

  .cardSection {
    padding: 16px;
  }

  .picHolder {
    position: relative;

    .pic {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-size: 12px;

    &.neutral {
      background-color: $lightgrey-lighter;
      color: black;
    }
  }

  .tagsRow {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -8px -8px 0;

    .tag {
      margin: 0 8px 8px 0;
    }
  }

  .featureTag {
    padding: 5px 12px;
  }

  .pricingTag {
    height: 20px;
    padding: 1px 12px;
    border: 1px solid #c9d1da;
    background-color: white;
    font-size: 12px;
  }

  .cardButton {
    width: 32px;
    height: 32px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 200ms ease-in-out, opacity 200ms ease-in-out;
    line-height: 32px;
    opacity: 0;

    &:hover {
      background-color: #e3e7ec;
    }
    &:focus {
      width: 30px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #20baa9;
      outline: none;
    }
    &:active {
      background-color: #e3e7ec;
    }
  }

  &:hover {
    .cardButton {
      opacity: 1;
    }
  }
}
