.checkout {
  .employeeHolder {
    @include grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 1fr);

    @include lgApp {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
