// Colors
$white: #ffffff;
$lightgrey-lightest: #f5f7f9;
$lightgrey-lighter: #e9eef4;
$lightgrey-light: #e3e7ec;
$lightgrey-dark: #dfe3eb;
$lightgrey-darker: #c9d1da;
$lightgrey-darkest: #96a7ba;
$midgrey-light: #a1aab4;
$midgrey-dark: #3b4c5d;
$darkgrey-lighter: #30475d;
$darkgrey-light: #26394a;
$darkgrey-dark: #1e2e3b;
$darkgrey-darker: #18242f;
$primarygreen-light: #d0f3ef;
$primarygreen: #20baa9;
$primarygreen-dark: #1b9a8b;
$lightyellow-lightest: #fff602;
$lightyellow-lighter: #ffeea5;
$lightyellow-dark: #ffd41f;
$lightyellow-darker: #e6be13;
$lightyellow-darkest: #bf9f17;
$darkyellow-lighter: #ffde99;
$orange-lighter: #fbce9e;
$red-lightest: #ffc9be;
$red-lighter: #ffaf9f;
$red-dark: #ff7156;
$red-darker: #e85a3f;
$red-darkest: #baa933;
$pink-lighter: #f5b3c3;
$fuchsia-lighter: #e8a2d4;
$purple-lighter: #c0a6fb;
$ultramarin-lighter: #a19fe8;
$blue-lightest: #d8e7fd;
$blue-lighter: #b2d0fb;
$blue-dark: #3d89f6;
$blue-darker: #1a6de3;
$blue-darkest: #2e67b8;
$teal-lighter: #a8e4f7;
$mint-lighter: #afebe4;
$darkgreen-lightest: #dbedd5;
$darkgreen-lighter: #b7dbaa;
$darkgreen-dark: #4ca52b;
$darkgreen-darker: #368618;
$darkgreen-darkest: #397c20;
$green-lighter: #d1e2ac;
$greenyellow-lighter: #f3fab3;

$boxshadow-black: #00000026;

// Maximum screen width to be considered "small"
$screen-sm-max: 1240px;

// Default gap in grids
$grid-gap: 24px;
