.dashboard {
  .dashboard-apps {
    padding: 16px 0 24px;

    .service-box-top {
      display: flex;
      align-items: center;

      .service-logo-circle {
        margin-right: 8px;
      }

      .heart-icon {
        margin-left: auto;
        color: $lightgrey-darker;
      }
    }
  }

  > hr {
    padding-bottom: 16px;

    &:last-child {
      display: none;
    }
  }
}
