.marketplace {
  min-height: 100%;
  min-width: 552px;
  padding: 0 32px;
  background-color: $lightgrey-lightest;

  .marketplaceContainer {
    max-width: 1608px;
    margin: 0 auto;
  }

  h1 {
    grid-column: 1 / span 3;
  }

  .marketplaceContent {
    > hr {
      border: none;
      border-top: 1px solid $lightgrey-darker;
    }
  }

  .headline {
    padding: 16px 0;
  }

  .apps {
    padding-bottom: 32px;

    & > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .card {
    &.wide {
      grid-column: 1 / -1;
    }
  }

  .compareServiceCheckbox {
    display: flex;
    align-items: center;

    > span {
      margin-left: 8px;
      font-size: 14px;
      line-height: 24px;
    }
  }
}
