.marketplace {
  min-height: 100%;
  min-width: 552px;
  padding: 0 32px;
  background-color: $lightgrey-lightest;

  .marketplaceContainer {
    max-width: 1608px;
    margin: 0 auto;
  }

  h1 {
    grid-column: 1 / span 3;
  }

  // adapt once newly designed search box is available
  .searchBar {
    grid-column: 4 / span 6;
    grid-row-start: 1;
    margin: 0 auto;
  }

  .marketplaceHeader {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: $grid-gap;
    padding: 16px 32px;
    color: $midgrey-light;
    background-color: $lightgrey-lightest;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .marketplaceContent {
    > hr {
      border: none;
      border-top: 1px solid $lightgrey-darker;
    }
  }

  .headline {
    padding: 16px 0;
  }

  .apps {
    padding-bottom: 32px;

    & > *:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  .card {
    &.wide {
      grid-column: 1 / -1;
    }
  }

  .featureTag {
    padding: 5px 12px;
  }

  .pricingTag {
    height: 20px;
    padding: 1px 12px;
    border: 1px solid $lightgrey-darker;
    background-color: $white;
    font-size: 12px;
  }

  .freeTrialTag {
    text-transform: uppercase;
  }
}
