.categories {
  grid-gap: 0;

  .tag {
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 0 12px;
    height: 40px;

    &:hover {
      background-color: $white;
    }

    .fa-fw {
      font-size: 18px;
      color: $midgrey-dark;
      margin-right: 8px;
    }

    .categoryName {
      font-size: 14px;
      font-weight: 400;
    }
  }
}
