.pageHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 -4px;
  padding: 16px 4px;
  color: $midgrey-light;
  background-color: $lightgrey-lightest;

  > div {
    display: flex;
  }

  h1 {
    flex-grow: 1;
  }

  .breadCrumbs {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;

    > :nth-child(even) {
      white-space: pre;
    }

    a {
      color: $midgrey-light;
    }

    .isActive {
      border-bottom: 1px solid $midgrey-light;
    }
  }

  .titleRow {
    margin-bottom: 24px;

    > :not(:last-child) {
      flex-grow: 1;
    }

    .pageHeaderButton {
      background-color: $primarygreen;
      color: $white;
      margin-left: 16px;
    }
  }

  .collectionRow {
    :first-child {
      width: 25%;
      max-width: 25%;
      margin-right: 24px;
    }

    :nth-child(2) {
      margin-right: 16px;
    }

    :last-child {
      margin-left: auto;
    }
  }

  .tagsRow {
    align-items: center;
    margin: 16px 0 0 0;

    span {
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      line-height: 16px;
    }

    .tag {
      margin: 0 8px 0 0;
    }

    .verticalSeparator {
      padding-left: 8px;
      border-left: 1px solid $midgrey-light;
    }

    .clearFiltersBtn {
      cursor: pointer;
      padding-left: 8px;
    }
  }

  .children {
    display: block;
  }

  .wizard {
    display: flex;
    align-items: center;

    .pill {
      width: 136px;
      padding: 0 8px;
      text-align: center;
      font-size: 12px;
      line-height: 30px;
      border: 1px solid $lightgrey-darker;
      border-radius: 16px;

      &.active {
        border-color: $primarygreen;
      }
    }

    .divider {
      margin: 4px;
      min-width: 4px;
      max-width: 50px;
      flex-grow: 1;
      border-bottom: 1px solid $lightgrey-darkest;
    }
  }
}
