.pageHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0 -4px;
  padding: 16px 4px;
  color: $midgrey-light;
  background-color: $lightgrey-lightest;

  > div {
    display: flex;
  }

  .breadCrumbs {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 19px;

    > :nth-child(even) {
      white-space: pre;
    }

    a {
      color: $midgrey-light;
    }

    .isActive {
      border-bottom: 1px solid $midgrey-light;
    }
  }

  .titleRow {
    > :not(:last-child) {
      flex-grow: 1;
    }

    .pageHeaderButton {
      background-color: $primarygreen;
      color: $white;
      margin-left: 16px;
    }
  }

  .wizard {
    display: flex;
    align-items: center;

    .pill {
      width: 136px;
      padding: 0 8px;
      text-align: center;
      font-size: 12px;
      line-height: 30px;
      border: 1px solid $lightgrey-darker;
      border-radius: 16px;

      &.active {
        border-color: $primarygreen;
      }
    }

    .divider {
      margin: 4px;
      min-width: 4px;
      max-width: 50px;
      flex-grow: 1;
      border-bottom: 1px solid $lightgrey-darkest;
    }
  }

  .children {
    display: block;
  }
}
