.point {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &.pro {
    div {
      color: $primarygreen;
      background-color: $primarygreen-light;
    }
  }

  &.con {
    div {
      color: $red-darker;
      background-color: $red-lightest;
    }
  }

  div {
    border-radius: 6px;
    margin-right: 8px;
    min-width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .span {
      font-size: 12px;
      width: 12px;
    }
  }
}
