#serviceCreation {
  height: 100%;

  .inputLabel {
    display: block;
    margin-bottom: 16px;
  }

  select {
    margin: 16px 0;
  }

  .textField {
    margin-top: 32px;
  }

  .list {
    margin-top: 16px;

    li {
      margin: 8px 0 0 8px;
    }

    .listHeadline {
      font-weight: 700;
      margin-left: 0;
    }

    .list-key {
      font-style: italic;
      margin-right: 16px;
    }

    .alternatives {
      display: flex;
      justify-content: space-between;
      max-width: 450px;
    }
  }

  img {
    margin-top: 16px;
  }

  .progress {
    display: flex;
    flex-flow: column;
    margin: 16px 0;
    height: 40px;
    justify-content: space-between;
  }

  .success {
    margin: 16px 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $primarygreen;
  }
}
