#serviceCreation {
  height: 100%;

  > * {
    margin-top: 24px;
  }

  select,
  input {
    width: 600px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: $primarygreen-dark;
      cursor: pointer;
      margin-top: -4px;
      box-shadow: 1px 1px 1px black, 0 0 1px #0d0d0d;
    }
  }

  select {
    margin: 16px 0;
  }

  .textField {
    margin-top: 32px;
  }

  .list {
    margin-top: 16px;

    li {
      margin: 8px 0 0 8px;
    }

    .listHeadline {
      font-weight: 700;
      margin-left: 0;
    }

    .list-key {
      font-style: italic;
      margin-right: 16px;
    }

    .alternatives {
      display: flex;
      justify-content: space-between;
      max-width: 450px;
    }
  }

  img {
    margin-top: 16px;
  }

  .progress {
    display: flex;
    flex-flow: column;
    margin: 16px 0;
    height: 40px;
    justify-content: space-between;
  }

  .success {
    margin: 16px 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: $primarygreen;
  }
}
