.tagsRow {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -8px -8px 0;

  .tag {
    margin: 0 8px 8px 0;
  }
}

.tag {
  &.featureTag {
    background-color: $lightgrey-lighter;
    text-transform: uppercase;
  }

  &.filterTag {
    border-radius: 9999px;
    background-color: $lightgrey-light;
  }
}
