.grid2Cols {
  @include grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid3Cols {
  @include grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid4Cols {
  @include grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid6Cols {
  @include grid;
  grid-template-columns: repeat(6, 1fr);
}

.smGrid1Col {
  @include sm {
    @include grid;
    grid-template-columns: 1fr;

    .cardPicHolder {
      padding-top: 26%;
    }
  }
}

.smGrid2Cols {
  @include sm {
    @include grid;
    grid-template-columns: repeat(2, 1fr);

    .cardPicHolder {
      padding-top: 26%;
    }
  }
}

.smGrid3Cols {
  @include sm {
    @include grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.smHide {
  @include sm {
    display: none !important;
  }
}

.lgHide {
  @include lg {
    display: none !important;
  }
}

.circle {
  border-radius: 50%;
  text-align: center;
}
