.appDetails {
  .breadCrumbs {
    margin-bottom: 8px;
    font-weight: 400;

    span {
      text-decoration: underline;
    }
  }

  .link {
    color: #3191f0;
  }

  .serviceCard {
    margin-top: 8px;
    padding: 0 24px;

    > hr {
      margin: 0;
    }

    .cardSection {
      padding: 16px 0;
    }

    .header {
      display: flex;
      justify-content: space-between;

      .logo {
        margin-right: 24px;

        span {
          &.largeScreen {
            display: block;
          }

          &.smallScreen {
            display: none;
          }

          @media (max-width: 1240px) {
            &.largeScreen {
              display: none;
            }

            &.smallScreen {
              display: block;
            }
          }
        }
      }

      .details {
        flex-grow: 1;
        display: grid;
        grid-gap: 16px;
        grid-template-columns: auto minmax(0, 1fr);
        grid-template-rows: repeat(3, 24px);
        grid-auto-flow: column;
        align-content: center;

        @media (max-width: 1240px) {
          grid-template-rows: repeat(6, auto);
        }

        .fa-comments-alt,
        .fa-globe {
          margin-right: 8px;
        }

        .fa-external-link {
          margin-left: 8px;
        }
      }

      .licenseTags {
        width: 192px;
        margin-left: 24px;

        .tag {
          height: 32px;
          border-radius: 8px;
          font-size: 14px;
        }
      }
    }

    .pricingTag {
      width: 144px;
    }
  }

  h2 {
    margin: 16px 0;
  }

  .previewSection {
    .tag {
      display: inline-block;
      width: 38px;
      line-height: 38px;
      font-size: 12px;
      border-radius: 50%;
      border: 1px solid #30475d;
      box-shadow: 1px;
      text-align: center;
      padding: 0;
      color: #30475d;
    }

    .picHolder {
      padding-top: 75%;
    }
  }

  .marketplaceContent {
    > hr {
      margin-top: 32px;

      &:last-child {
        display: none;
      }
    }
  }
}
