.appDetails {
  .breadCrumbs {
    margin-bottom: 8px;
    font-weight: 400;

    span {
      text-decoration: underline;
    }
  }

  .serviceCard {
    padding: 0 24px;

    > hr {
      margin: 0;
    }

    .cardSection {
      padding: 16px 0;
    }
  }

  h2 {
    margin: 16px 0;
  }

  .marketplaceContent {
    > hr {
      margin-top: 32px;

      &:last-child {
        display: none;
      }
    }
  }
}
