.appDetails {
  .breadCrumbs {
    margin-bottom: 8px;
    font-weight: 400;

    span {
      text-decoration: underline;
    }
  }

  h2 {
    margin: 16px 0;
  }

  .marketplaceContent {
    > hr {
      margin-top: 32px;

      &:last-child {
        display: none;
      }
    }
  }
}
