$plan-background: #ccc;

#billing-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(750px, 1fr));
  grid-gap: 1.2rem;
  grid-auto-flow: dense;
  margin: 2rem;
}

.payment-data-holder {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
  position: relative;
  padding-bottom: 2rem;
}

#bought-apps {
  grid-column: 1 / -1;
}

.bought-apps-row {
  text-align: center;
}

.payment-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #005;
  width: 100%;
  text-align: center;
  background-color: #20BAA9;
}

.nextPaymentChart {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.nextBillHeading{
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.change-plan {
  width: 100vh;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-self: start;
  overflow: hidden;

  &-options {
    margin-top: 1rem;
  }
}

.invoices {
  display: flex;
  justify-content: space-between;

  span {
    margin-right: 1rem;
  }
}

.billing-emails {
  list-style: none;

  li {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2rem;
    justify-content: space-between;
    grid-gap: 1rem;
    margin-bottom: 0.5rem;

    &:first-child {
      border-bottom: 2px solid #117f91;
      margin-bottom: 0;
    }

    span {
      &:last-child,
      &:nth-child(2) {
        justify-self: end;
      }
    }
  }
}

