$plan-background: #ccc;

#billing-page {
  display: flex;
  flex-flow: column;
  padding: 48px;

  .credit-cards {
    position: relative;

    .floating-button {
      right: -10px;
    }
  }

  .floating-button {
    position: absolute;
    top: 10px;
    right: 10px;

    div {
      font-size: 12px;
      line-height: 22px;
      font-weight: 700;
    }
  }

  .subsidiary-cards {
    position: relative;
    margin-top: 20px;
    display: flex;
    flex-flow: column;

    .naked-button {
      width: fit-content;
      align-self: center;
    }
  }

  .contentPopup {
    h1 {
      font-size: 24px;
      display: block;
      text-align: center;
      padding-bottom: 24px;
    }
  }
}

.billing-table-holder {
  position: relative;
  padding: 0;

  th,
  td {
    padding: 10px;
  }
  
  thead {
    .spacer {
      height: 10px;
    }
  }
  
  tbody {
    tr {
      height: 56px;

      &:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
      }

      &:hover i {
        opacity: 1;
      }

      i {
        opacity: 0;
        line-height: 1rem;
        font-size: 1rem;
      }
    }
  }

  .email-list {
    form {
      margin: 10px 0;
      max-height: 200px;
      overflow-x: auto;

      .generic-checkbox-holder {
        margin-top: 10px;

        .checkboxSquare,.checkboxSquareActive {
          margin-right: 10px;
        }
      }
    }
  }
}

.payment-data-holder {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
  position: relative;
  padding-bottom: 2rem;
}

#bought-apps {
  grid-column: 1 / -1;
}

.bought-apps-row {
  text-align: center;
  transition: background 200ms ease-in-out;

  &:hover {
    background: beige;
    transition: background 200ms ease-in-out;
  }
}

.payment-label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #005;
  width: 100%;
  text-align: center;
  background-color: #20BAA9;
}

.nextPaymentChart {
  width: 100%;
  height: 13rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nextBillHeading{
  width: 100%;
  font-size: 1.5em;
  text-align: center;
}

.change-plan {
  width: 100vh;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  align-self: start;
  overflow: hidden;

  &-options {
    margin: 1rem 0 2rem;

    .precaption {
      min-width: 12rem;
    }

    input {
      width: 5rem;
      border: 0;
      outline: none;
      text-align: center;
      border-bottom: 1px solid #20BAA9;
      font-family: 'Montserrat', sans-serif !important;
    }
  }
}

.invoices {
  display: flex;
  justify-content: space-around;
  flex-flow: row;
  //width: 54%;

  &-refunded {
    @extend .invoices;
    text-decoration: line-through;
  }

  &-item {
    width: 100%;
    height: 34rem;
    margin-bottom: 1rem;
  }
}

.billing-emails {
  list-style: none;

  li {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 2rem;
    justify-content: space-between;
    grid-gap: 1rem;
    margin-bottom: 0.5rem;

    &:first-child {
      border-bottom: 2px solid #117f91;
      margin-bottom: 0;
    }

    span {
      &:last-child,
      &:nth-child(2) {
        justify-self: end;
      }
    }
  }
}

