.card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f4f5f7;
  color: #3b4c5d;
  font-size: 14px;
  margin-bottom: 8px;

  .picHolder {
    position: relative;
    padding-top: 56%;

    .pic {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &.small {
    min-width: 216px;
    max-width: 384px;
  }

  &.medium {
    min-width: 296px;
    max-width: 520px;
  }

  &.large {
    min-width: 264px;
    max-width: 792px;
  }

  &.wide {
    min-width: 552px;
    max-width: 1608px;

    .picHolder {
      padding-top: 26%;
    }
  }

  &:hover {
    border-width: 2px;
    transform: translateY(-2px);
  }

  hr {
    border: 1px solid #dfe3eb;
    transform: scaleY(0.5);
    margin: 0 16px;
  }

  .tag {
    font-size: 12px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

  .pricingTag {
    display: flex;
    background-color: white;
    border: 1px solid #c9d1da;
    font-size: 12px;
    width: 84px;
    height: 18px;
  }

  .freeTrialTag {
    text-transform: uppercase;
  }

  .cardSection {
    padding: 16px;
  }

  .tagsColumn {
    display: flex;
    flex-direction: column;
    margin-bottom: -8px;

    .pro {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .tag {
        display: flex;
        padding: 0;
        margin-right: 8px;
        min-width: 24px;
        height: 24px;
        color: #1b9a8b;
        background-color: #d6f2ef;
        font-size: 14px;

        > .span {
          font-size: 12px;
          width: 12px;
        }
      }
    }
  }

  .tagsRow {
    display: inline-flex;
    flex-flow: row wrap;
    margin: 0 -8px -8px 0;

    .tag {
      margin: 0 8px 8px 0;
      display: flex;
      text-transform: uppercase;
    }

    .pricingTag {
      padding: 2px 12px;
    }
  }

  .featureTag {
    background-color: #e9eef4;
    padding: 5px 12px;
  }

  .header {
    display: inline-flex;
    align-items: center;
    width: calc(100% - 32px);
    min-height: 48px;

    .headerItem {
      display: inline-flex;
    }
  }

  .appName {
    flex-grow: 1;
    font-weight: 500;
    padding: 4px 0;
  }

  .logo {
    margin-right: 16px;
  }

  .rating {
    margin-top: 9px;
    font-size: 12px;

    .fa-star {
      color: #3b4c5d;
    }
  }

  .headerTags {
    margin: -4px 0 -4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    .tag:nth-child(2) {
      margin-top: 8px;
    }
  }
}
