.card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f4f5f7;
  color: #3b4c5d;
  font-size: 14px;
  margin-bottom: 8px;

  &.colSpan-3 {
    min-width: 216px;
    max-width: 384px;

    .headerPic {
      //max-height: 325px;
    }
  }

  &.colSpan-4 {
    min-width: 296px;
    max-width: 520px;

    .headerPic {
      max-height: 325px;
    }
  }

  &.colSpan-6 {
    min-width: 264px;
    max-width: 792px;

    .headerPic {
      //max-height: 325px;
    }
  }

  &.colSpan-12 {
    min-width: 552px;
    max-width: 1608px;

    .headerPic {
      max-height: 325px;
    }
  }

  &:hover {
    border-width: 2px;
    transform: translateY(-2px);
  }

  .tag {
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

  .headerPic {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cardSection {
    padding: 16px;
  }

  .cardBody {
    .tag {
      font-size: 12px;
    }

    .tagList {
      margin: 0 -8px -8px 0;

      .tag {
        margin: 0 8px 8px 0;
        height: 24px;
      }
    }

    .pros {
      flex-direction: column;

      .tag {
        display: inline-flex;
        padding: 0;
        margin-right: 8px;
        width: 24px;
        color: #1b9a8b;
        background-color: #d6f2ef;
        font-size: 14px;

        > .span {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
    }

    .features {
      display: inline-flex;
      flex-flow: row wrap;

      .tag {
        display: flex;
        background-color: #e9eef4;
        padding: 0 12px;
        text-transform: uppercase;
      }
    }
  }

  hr {
    border: 1px solid #dfe3eb;
    transform: scaleY(0.5);
    margin: 0 16px;
  }

  .serviceMainInfo {
    height: 48px;

    .item {
      margin-right: 16px;
      float: left;
    }

    .appName {
      font-weight: 500;
      padding: 4px 0;
    }

    .rating {
      margin-top: 9px;
      font-size: 12px;

      .fa-star {
        color: #3b4c5d;
      }
    }

    #headerTags {
      margin: -4px 0;
      float: right;
    }

    .tag {
      display: flex;
      border: 1px solid #c9d1da;
      font-size: 12px;
      background-color: white;
      width: 84px;
      height: 18px;
      margin-bottom: 8px;

      &.priceType {
        text-transform: uppercase;
      }
    }
  }
}
