.card {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f4f5f7;
  color: #3b4c5d;
  font-size: 14px;
  margin-bottom: 8px;

  &.small {
    min-width: 216px;
    max-width: 384px;

    .picHolder {
      padding-top: 56%;
    }
  }

  &.medium {
    min-width: 296px;
    max-width: 520px;

    .picHolder {
      padding-top: 56%;
    }
  }

  &.large {
    min-width: 264px;
    max-width: 792px;

    .picHolder {
      padding-top: 56%;
    }
  }

  &.wide {
    min-width: 552px;
    max-width: 1608px;

    .picHolder {
      padding-top: 26%;
    }
  }

  &:hover {
    border-width: 2px;
    transform: translateY(-2px);
  }

  .picHolder {
    position: relative;

    .headerPic {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  .tag {
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

  .headerPic {
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .cardSection {
    padding: 16px;
  }

  .cardBody {
    .tag {
      font-size: 12px;
    }

    .tagList {
      margin: 0 -8px -8px 0;

      .tag {
        margin: 0 8px 8px 0;
      }
    }

    .pros {
      flex-direction: column;

      .tag {
        display: inline-flex;
        padding: 0;
        margin-right: 8px;
        width: 24px;
        color: #1b9a8b;
        background-color: #d6f2ef;
        font-size: 14px;

        > .span {
          font-size: 12px;
          height: 12px;
          width: 12px;
        }
      }
    }

    .features {
      display: inline-flex;
      flex-flow: row wrap;

      .tag {
        display: flex;
        background-color: #e9eef4;
        padding: 5px 12px;
        text-transform: uppercase;
      }
    }
  }

  hr {
    border: 1px solid #dfe3eb;
    transform: scaleY(0.5);
    margin: 0 16px;
  }

  .serviceMainInfo {
    display: inline-flex;
    align-items: center;
    width: calc(100% - 32px);
    min-height: 48px;

    .item {
      display: inline-flex;
    }

    .logo {
      margin-right: 16px;
    }

    .appName {
      flex-grow: 1;
      font-weight: 500;
      padding: 4px 0;

      .rating {
        margin-top: 9px;
        font-size: 12px;

        .fa-star {
          color: #3b4c5d;
        }
      }
    }

    #headerTags {
      margin: -4px 0 -4px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .tag {
      display: flex;
      border: 1px solid #c9d1da;
      font-size: 12px;
      background-color: white;
      width: 84px;
      height: 18px;

      &.priceType {
        text-transform: uppercase;
        margin-bottom: 8px;
      }
    }
  }
}
