$app-logo:                  url('./images/logo-full-aaa-ai.svg');
$newlogo-small:             url('./images/Vipfy-white.svg');
$newlogo:                   url('./images/Vipfy_Logo_Links_Weiss_HG_Dunkel.svg');
$sidebar-background:        #333;
$sidebar-width:             15em;
$fullworking-background:    #f5f5f5;
$vipfy-primary-color: #20baa9;
$vipfy-secondary-color: #117f91;
$vipfy-cancel-color: #c73544;
$vipfy-primary: linear-gradient(to right, rgb(32, 186, 169) 0%, rgb(17, 127, 145) 100%);
$vipfy-secondary: linear-gradient(to right, #c73544 0%, #991b78 100%);
$feedback: rgba(#20baa9, 0.57);
$feedback-secondary: rgba(#c73544, 0.57);
$hover: #117f91;
$hover-secondary: #991b78;
$deleted-color: #b5a0a7;

$rccs-size: 10rem;
$rccs-name-font-size: 0.8rem;
$rccs-number-font-size: 0.8rem;
$rccs-expiry-font-size: 0.6rem;
$rccs-valid-font-size: 0.4rem;

@mixin grid-system($grids) {
  display: grid;
  grid-template-columns: $grids;
}

@mixin flex-system($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin hide-overflowing-text {
  text-overflow: ellipsis;
  // Required for text-overflow to do anything
  white-space: nowrap;
  overflow: hidden;
}

@mixin color-fade {
  color: $vipfy-secondary-color;
  transition: color 0.5s ease-in-out 0.1s;
}

@mixin vipfy-button($padding: 0) {
  @include flex-system(center, center);
  background: $vipfy-primary-color;
  border: 0;
  color: white;
  cursor: pointer;
  outline: none;
  padding: $padding;
  transition: all 0.5s ease 0s;
  border-radius: 3px;

  i {
    font-size: 15px;
    padding-right: 5px;
  }

  &:active {
    background: $feedback;
  }

  &:hover {
    background: $vipfy-secondary-color;
    box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
  }
}

@mixin generic-button($color, $color-hover, $color-fb) {
  background: $color;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 7px 15px;
  transition: all 0.5s ease 0s;

  span {
    font-size: 15px;
  }

  &:hover {
    background: $color-hover;
  }

  &:active {
    background: $color-fb;
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

@mixin toggleHeight($height) {
  max-height: $height;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
}

.in {
  @include toggleHeight(200rem);
}

.out {
  @include toggleHeight(0);
}

.disabled {
  color: #bbb;
  transition: color 200ms ease-in;
}

.tags {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  span {
    background: $vipfy-primary;
    border-radius: 10%;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-size: 14px;
    margin-top: 0.5rem;
    padding: 0 0.1rem;

    &:hover {
      background: $vipfy-secondary;
    }
  }
}

.float-in-right {
  animation: float-from-right 400ms ease-in-out;

  @keyframes float-from-right {
    0% {
      opacity: 0;
      transform: translateX(3000px);
    }
    
    90% {
      opacity: 1;
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.float-in-left {
  animation: float-in 200ms ease-in-out;

  @keyframes float-in {
    0% {
      opacity: 0;
      transform: translate(-100px);
    }
    
    90% {
      opacity: 1;
      transform: translate(10px);
    }

    100% {
      transform: translate(0);
    }
  }
}

.float-to-bottom {
  animation: float-bottom 200ms ease-in-out;

  @keyframes float-bottom {
    0% {
      transform: translateY(-100px);
    }
    
    90% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.float-to-top {
  animation: float-top 200ms ease-in-out;

  @keyframes float-top {
    0% {
      transform: translateY(0);
    }
    
    90% {
      transform: translateY(1px);
    }

    100% {
      transform: translateY(-1px);
    }
  }
}

.error-field {
  color: red;
  text-align: center;
  margin: 10% 0;
  font-size: 1.3rem;
}