$app-logo:                  url('./images/logo-full-aaa-ai.svg');
$newlogo-small:             url('./images/Vipfy-white.svg');
$newlogo:                   url('./images/Vipfy-white.svg');
$logo_white:                url('./images/logo_hell.png');
$sidebar-background:        #333;
$sidebar-width:             240px;
$sidebar-margin:            8px;
$sidebar-background:        #30475d;
$fullworking-background:    #f5f5f5;
$vipfy-primary-color: #20baa9;
$vipfy-secondary-color: #117f91;
$vipfy-cancel-color: #c73544;
$vipfy-primary: linear-gradient(to right, rgb(32, 186, 169) 0%, rgb(17, 127, 145) 100%);
$vipfy-secondary: linear-gradient(to right, #c73544 0%, #991b78 100%);
$feedback: rgba(#20baa9, 0.57);
$feedback-secondary: rgba(#c73544, 0.57);
$hover: #117f91;
$hover-secondary: #991b78;
$deleted-color: #b5a0a7;

$vipfy-normaltext: #253647;
$vipfy-darktext: #2a3949;
$vipfy-lighttext: #415E72;
$vipfy-disabledtext: #e1e3e5;
$vipfy-grey: #f0f0f0;
$vipfy-lightgrey: #f5f5f5;
$vipfy-positive: #29CC94;
$vipfy-negative: #DF3F19;
$vipfy-infoblue: #5145E3;
$vipfy-infolightblue: #2D84E6;
$vipfy-vacation-blue: #5DA2FF;
$vipfy-buttongreen: #20BAA9;
$vipfy-buttondarkgreen: #1697A5;
$vipfy-lightshadow: 1px 3px 4px 0px #78787833;
$vipfy-shadow: 1px 3px 4px 0px #78787866;

$vipfy_mainColor: #253647;
$vipfy_bigradius: 6px;
$vipfy_smallradius: 3px;
@for $x from 20 through 80 {
  .box#{$x} {
    height: #{$x}px;
    width: #{$x}px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;

    &.text{
        line-height: #{$x}px;
        text-align: center;
    }

    &.clickable{
      cursor: pointer;
    }
  }
  .circle#{$x}{
    height: #{$x}px;
    width: #{$x}px;
    border-radius: #{$x}px;
    background-position: center;
    background-size: cover;
  }
}

@for $x from 20 through 80 {
  .box#{$x} {
    height: #{$x}px;
    width: #{$x}px;
    background-position: center;
    background-size: cover;
    border-radius: 3px;

    &.text{
        line-height: #{$x}px;
        text-align: center;
    }

    &.clickable{
      cursor: pointer;
    }
  }
  .circle#{$x}{
    height: #{$x}px;
    width: #{$x}px;
    border-radius: #{$x}px;
    background-position: center;
    background-size: cover;
  }
}

$rccs-size: 10rem;
$rccs-name-font-size: 0.8rem;
$rccs-number-font-size: 0.8rem;
$rccs-expiry-font-size: 0.6rem;
$rccs-valid-font-size: 0.4rem;

.cleanup{
  color: $vipfy_mainColor;
  font-family: 'Roboto', sans-serif;
  all: unset;
}

@mixin grid-system($grids) {
  display: grid;
  grid-template-columns: $grids;
}

@mixin flex-system($align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin hide-overflowing-text {
  text-overflow: ellipsis;
  // Required for text-overflow to do anything
  white-space: nowrap;
  overflow: hidden;
}

@mixin color-fade {
  color: $vipfy-secondary-color;
  transition: color 0.5s ease-in-out 0.1s;
}

@mixin vipfy-button($padding: 0) {
  @include flex-system(center, center);
  background: $vipfy-primary-color;
  border: 0;
  color: white;
  cursor: pointer;
  outline: none;
  padding: $padding;
  transition: all 0.5s ease 0s;
  border-radius: 3px;

  i {
    font-size: 15px;
    padding-right: 5px;
  }

  &:active {
    background: $feedback;
  }

  &:hover {
    background: $vipfy-secondary-color;
    box-shadow: 0 0 19px -3px rgba(0, 0, 0, 0.36);
  }
}

@mixin generic-button($color, $color-hover, $color-fb) {
  background: $color;
  border: 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 7px 15px;
  transition: all 0.5s ease 0s;

  span {
    font-size: 15px;
  }

  &:hover {
    background: $color-hover;
  }

  &:active {
    background: $color-fb;
  }

  &:disabled {
    background: grey;
    cursor: not-allowed;
  }
}

@mixin toggleHeight($height) {
  max-height: $height;
  //overflow: hidden;
  overflow: auto;
  transition: max-height 0.6s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

.in {
  @include toggleHeight(200rem);
}

.out {
  @include toggleHeight(0);
}

.disabled {
  color: #bbb;
  transition: color 200ms ease-in;
}

.tags {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  span {
    background: $vipfy-primary;
    border-radius: 10%;
    transition: all 0.5s ease-in-out;
    color: #fff;
    font-size: 14px;
    margin-top: 0.5rem;
    padding: 0 0.1rem;

    &:hover {
      background: $vipfy-secondary;
    }
  }
}

.float-in-right {
  animation: float-from-right 400ms ease-in-out;

  @keyframes float-from-right {
    0% {
      opacity: 0;
      transform: translateX(3000px);
    }
    
    90% {
      opacity: 1;
      transform: translateX(-10px);
    }

    100% {
      transform: translateX(0);
    }
  }
}

.float-out-right {
  animation: float-out-right 400ms ease-in-out;

  @keyframes float-out-right {
    from {
      opacity: 1;
      transform: translateX(0);
    } to {
      opacity: 0;
      transform: translateX(500px);
    }
  }
}

.float-in-left {
  animation: float-in 200ms ease-in-out;

  @keyframes float-in {
    0% {
      opacity: 0;
      transform: translate(-100px);
    }
    
    90% {
      opacity: 1;
      transform: translate(10px);
    }

    100% {
      transform: translate(0);
    }
  }
}

.float-to-bottom {
  animation: float-bottom 200ms ease-in-out;

  @keyframes float-bottom {
    0% {
      transform: translateY(-100px);
    }
    
    90% {
      transform: translateY(10px);
    }

    100% {
      transform: translateY(0);
    }
  }
}

.float-to-top {
  animation: float-top 200ms ease-in-out;

  @keyframes float-top {
    0% {
      transform: translateY(0);
    }
    
    90% {
      transform: translateY(1px);
    }

    100% {
      transform: translateY(-1px);
    }
  }
}

.error-field {
  color: red;
  text-align: center;
  margin: 10% 0;
  font-size: 1.3rem;
}

 .switch {
  position: relative;
  display: inline-block;
  width: 38px;
  height: 16px;
  
  input {
    opacity: 0;
    width: 0;
    height: 0;
    
    &:checked + .slider {
      background-color: #BAEAE5FF;
    }
    
    &:focus + .slider {
      box-shadow: 0 0 1px #BAEAE5FF;
    }
    
    &:checked + .slider::before {
      transform: translateX(26px);
      background-color: $vipfy-primary-color;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    
    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
      background-color: white;
      transition: .4s;
      border-radius: 50%;
    }  
  } 
}