$border-length: 10px;

.dashboard {
  @extend .managerPage;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 24px 48px 0;*/

  .appGrid {
    // display: grid;
    // padding: 26px 32px;
    // grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    // grid-column-gap: 24px;
    // grid-row-gap: 16px;

    .favourite {
      background-color: rgb(245, 245, 245);
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.54);
      height: 120px;
      position: relative;
      border-radius: 4px;
      border: 1px dashed black;
      
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 40px;
        color: rgb(32, 186, 169);
        width: 100%;
        height: 100%;
      }
    }

    .hovered {
      opacity: 0.6;
  
      .dashboard-app-image {
        width: calc(8rem - $border-length * 2);
        height: calc(8rem - $border-length * 2);
        border: $border-length solid $vipfy-primary-color;
      }
    }
  }

  .delete-favourite {
    margin: auto;
    padding-bottom: 58px;
    transition: all 300ms ease-in-out;
    opacity: 0;

    i {
      background: #f5f5f5;
    }
  }

  .show {
    opacity: 1;
  }

  &-app-image {
    margin-bottom: 12px;
    box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all 300ms ease-in-out;
  }
  
  &-app-name {
    font-size: 0.75rem;
    text-align: left;
    font-weight: bold;
  }

  &-apps {
    padding: 56px 32px 26px;
    display: grid;
    //grid-template-columns: repeat(auto-fit, 8rem);
    //grid-column-gap: 56px;
    //grid-row-gap: 32px;
    grid-template-columns: repeat(auto-fit, 8rem);
    grid-template-rows: 170px;
    grid-column-gap: 56px;
    grid-row-gap: 32px;
    position: relative;

    grid-template-columns: repeat(auto-fit, minmax(128px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 16px;
    
    .dropdown {
      position: absolute;
      right: 32px;
      top: 16px;
    }
  }

  .dashboard-app {
    display: flex;
    flex-flow: column;
    text-align: center;
    animation: fadeIn 300ms ease-out normal backwards;
    transition: all 300ms ease-in-out;
    margin: auto;

    @for $x from 1 through 40 {
      &:nth-child(#{$x}) {
        animation-delay: $x * 50ms;
      }
    }
  }

  .no-apps {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    color: #7c7c7cff;
    font-size: 20px;
    text-align: center;

    img {
      width: 192px;
      height: 224px;
      object-fit: contain;
    }

    h1 {
      font-size: 44px;
    }
  }
}

.shaking {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
  font-size: 5rem !important;
  line-height: 8rem !important;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0);
  }
  
  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}