.dashboard {
  @extend .managerPage;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 24px 48px 0;

  .no-apps {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 500px;
    color: #7C7C7CFF;
    font-size: 20px;
    text-align: center;

    img {
      width: 192px;
      height: 224px;
      object-fit: contain;
    }

    h1 {
      font-size: 44px;
    }
  }

  .genericHolder {
    .profile-app-holder {
      grid-template-rows: repeat(auto-fill, 11rem);
      grid-template-columns: repeat(auto-fill, 11rem);
      grid-gap: 56px;
      margin: unset;
      padding: 56px 32px;

      .profile-app {
        width: 10em;
        height: 10em;
        overflow: unset;
      }
    }
  }
}