.dataGeneralForm{
    width: 904px;
    height: 536px;
    padding: 32px 32px 48px 32px;
    background-color: white;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(#000000, 0.14);

    .logo{
        background-repeat: no-repeat;
        background-position: center;
        background-image: $logo_white;
        width: 48px;
        height: 40px;
        background-size: cover;
        position: absolute;
        top: 32px;
        left: 32px;
    }

    h1{
        //color: $vipfy_mainColor;
        //font-family: 'Roboto', sans-serif;
        all: unset;
        font-size: 24px;
        line-height: 32px;
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 8px;
        font-weight: 700;
    }

    p{
        all: unset;
        line-height: 21px;
        font-size: 16px;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-top: 32px;
        height: 42px;
    }

    .inputHolder{
        text-align: center;
        margin-top: 46px;
        input{
            all: unset;
            display: inline-block;
            text-align: center;
            border-bottom: 2px solid;
            width: 312px;
            line-height: 40px;
            border-radius: 4px 4px 0px 0px;
            font-size: 21px;
        }
    }


    .oneIllustrationHolder{
        width: 904px;
        height: 224px;
        background-color: #7c8690;
        position: absolute;
        top: 280px;
    }

    .buttonHolder{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 536px;
        width: 440px;
        left: 264px;
    }

    .threeIllustrationHolder{
        width: 100%;
        margin-top: 56px;
        display: grid;
        grid-template-columns: 264px 264px 264px;
        grid-gap: 56px;

        .thirdHolder{
            padding: 48px 24px 48px 24px;
            height: 272px;
            border-radius: 8px;
            cursor: pointer;

            &:hover{
                box-shadow: 0px 3px 4px rgba(#000000, 0.14)
            }
        }
        .smallillu{
            width: 216px;
            height: 128px;
            background-color: #7c8690;
        }
        h2{
            all: unset;
            font-size: 16px;
            font-weight: 700;
            line-height: 21px;
            margin-top: 19px;
            width: 100%;
            text-align: center;
            display: block;
        }
        p{
            height: 32px;
            font-size: 12px;
            line-height: 16px;
            margin-top: 16px;
        }
        .buttonHolder{
            margin-top: 24px;
        }
    }
    .UniversalInputHolder{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 56px;
        margin-top: 32px;
    }
    .textHolder{
        width: 100%;
        text-align: center;
        margin-top: 32px;
        &>div{
            display: inline-block;
            width: 342px;
        }
    }
    .preloggedFullname{
        width: 208px;
        font-size: 14px;
        line-height: 20px;
        border-bottom: 1px solid;

        &:before{
            width: 20px;
            height: 20px;
            background-color: #5D76FF;
            content: "";
            display: block;
            margin-left: 12px;
            margin-right: 7px;
            border-radius: 10px;
            float: left;
            margin-bottom: 6px;
        }
    }
    .notperson{
        all: unset;
        font-size: 10px;
        line-height: 13px;
        background-color: #F5F5F5;
        padding: 5px 8px 6px 12px;
        box-shadow: 0px 1px 1px rgba(#000000, 0.14);
        display: block;
        cursor: pointer;
        margin-bottom: 4px;
        position: relative;

        &:after {
            right: 100%;
            top: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(0, 0, 0, 0);
            border-right-color: #F5F5F5;
            border-width: 7px;
            margin-top: -7px;
        }
    }
    .accountArrayHolder{
        position: absolute;
        top: 104px;
        left: 328px;
        width: 312px;
        .accountHolder{
            height: 55px;
            border-bottom: 1px solid;
            cursor: pointer;
            border-radius: 4px 4px 0px 0px;
            position: relative;

            &:hover{
                background-color: #F5F5F5;
            }

            .accountHolderBullet{
                width: 20px;
                height: 20px;
                content: "";
                display: block;
                margin-left: 16px;
                margin-right: 11px;
                border-radius: 10px;
                float: left;
                margin-top: 21px;
            }

            .accountDelete{
                position: absolute;
                top: 24px;
                right: 24px;
            }
        }
    }
}