#domains {
  display: flex;
  flex-direction: column;
  padding: 48px;

  .genericHolder {
    max-width: 86rem;
  }
}

.domain-table {
  margin: 20px;
}

.domain-popup {
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }

  .domain-form {
    display: flex;
    justify-content: center;
  }
}

.domain-check {
  display: flex;

  .vipfy-input-holder {
    width: unset;

    .generic-dropdown {
      padding: 0;
      margin-left: 0;
      width: 55px;
    }

    .button-pw {
      padding: 0 5px;
    }
  }
}

.register-domain {
  @include vipfy-button(0.7rem);
  margin-top: 2rem;
  max-width: 8rem;
  min-height: 26px;
}

.domain-header {
  display: grid;
  grid-template-columns: 10rem 1fr 9rem 1fr 6rem repeat(4, 1fr);
  align-items: center;
  font-weight: bold;
  position: relative;

  span {
    &:first-child {
      padding-left: 0;

      &:hover {
        overflow: visible;
      }
    }

    &:nth-child(2),
    &:nth-child(5),
    &:last-child  {
      text-align: center;
    }
  }

  .domain-toggle-icon {
    position: absolute;
    cursor: pointer;
    right: 8px;

    &:hover {
      color: darken($vipfy-secondary-color, 10);
      transition: color 0.6s ease-in-out;
    }
  }
}

.domain-row {
  @extend .domain-header;
  background: #fff;
  color: #000;
  font-weight: normal;
  min-height: 3em;
}

.domain-item {
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  text-overflow: ellipsis;

  &-icon {
    @extend .domain-item;
    cursor: pointer;
    text-align: center;
  }
}

@media(max-width: 1080px) {
  .domain-table {
    flex-direction: row;
  }

  .domain-header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }

  .domain-row {
    height: 100%;
  }

  .domain-item {
    padding-bottom: 1em;
    text-align: center;
  }
}
