#domains {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 95%;
}

.register-domain {
  @include vipfy-button(0.7rem);
  align-self: flex-end;
  max-width: 8rem;
  min-height: 26px;
}

.domain-table {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

  &-body {
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
  }
}

.domain-header {
  // @include flex-system(center, space-between);
  display: grid;
  grid-template-columns: 10rem repeat(8, 1fr);
  align-items: center;
  background: $vipfy-primary-color;
  color: #fff;
  border-bottom: 2px solid $vipfy-secondary-color;
  font-weight: bold;

  span {
    &:first-child {
      padding-left: 0;
      
      &:hover {
        overflow: visible;
      }
    }

    &:nth-child(2),
    &:nth-child(5)  {
      text-align: center;
    }
  }
}

.domain-row {
  @extend .domain-header;
  background: #fff;
  color: #000;
  font-weight: normal;
  min-height: 3em;
  transition: 0.3s;

  &:hover {
    background: lighten($vipfy-secondary-color, 10);
    transition: all 0.5s ease-in-out;
  }
}

.domain-item {
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;

  &-icon {
    @extend .domain-item;
    cursor: pointer;
    text-align: center;
  }
}

@media(max-width: 1080px) {
  .domain-table {
    flex-direction: row;
  }

  .domain-header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }

  .domain-row {
    height: 100%;
  }

  .domain-item {
    padding-bottom: 1em;
    text-align: center;
  }
}
