.headerInformationHolder{
    position: relative;
    height: 0px;
    transition: 400ms ease-in-out height;
    overflow: hidden;

    .headerNotification{
        background-color: #30475D;
        line-height: 40px;
        height: 0px;
        transition: 400ms ease-in-out height;
        position: absolute;
        top: 0px;
        width: 100%;
        text-align: center;
        color: white;
        font-size: 13px;

        &.errorNotification{
            background-color: #c73544;
            text-align: center;
            color: white;
        }
        &.warningNotification{
            background-color: #FFC15D;
            position: relative;
            text-align: center;
            color: #253647;
        }
        &.open{
            height: 40px;
        }
        .headerNotificationButton{
            height: 32px;
            margin-left: 16px;
            //border: 1px solid #253647;
            line-height: 32px;
            border-radius: 4px;
            padding: 0px 10px;
            transition: 200ms background-color, 200ms color;
            position: absolute;
            right: 32px;
            top: 4px;
            &:hover{
                background-color: rgba(255,255,255,0.5);
                //color: white;
            }
        }
    }
    &.open{
        height: 40px;
    }
}