.mac {
  #titlebar {
    height: 37px;
    border-bottom: 1px solid black;
    grid-template-rows: 37px;
  }

  #App {
    margin-top: 38px;
  }
  
  #titlebar-logo {
    display: none;
  }
  
  #window-controls {
    display: none;
  }
}

