.managerPage{
    position: relative;
    padding: 32px;

    //overflow-y: scroll;
    //height: calc(100vh - 95px);

    & > .heading{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;
        margin-bottom: 32px;

        & > h1{
            all: unset;
            font-size: 20px;
            font-weight: 700;
            & > h2{
                all: unset;
                font-size: 20px;
                font-weight: 400;
                margin-left: 8px;
            }
        }
    }
    & > .section{
        border-radius: 4px;
        box-shadow: 0px 0px 3px rgba(0,0,0,0.14);
        &:not(:first-child){
            margin-top: 32px;
        }

        & > .heading{
            background-color: #F2F2F2;
            border-radius: 0px 0px 4px 4px;
            width: 100%;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & > h1 {
                all: unset;
                margin-left: 16px;
                font-size: 16px;
                font-weight: 700;
            }
        }

         .table{

            .tableHeading{
                border-radius: 4px; 
                height: 40px ;
                display: flex;
            }
            .tableRow{
                border-radius: 4px; 
                height: 56px ;
                display: flex;
                cursor: pointer;
                transition: box-shadow 150ms ease-in-out;

                &:hover{
                    box-shadow: 0px 0px 4px rgba(0,0,0,0.14);

                    .editOptions{
                        opacity: 1;
                    }
                }
            }

            .tableEnd{
                width: 128px;
                height: 100%;
                margin-left: 32px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
            .tableMain{
                width: calc(100% - 160px);
                height: 100%;
                display: flex;
                justify-content: space-between;

            }
            .tableColumnBig{
                width: 248px;
                height: 100%;
                padding-left: 16px;
                & > h1 {
                    all: unset;
                    margin-left: 16px;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 40px;
                }
            }
            .tableColumnSmall{
                width: 160px;
                height: 100%;
                padding-left: 16px;
                & > h1 {
                    all: unset;
                    font-size: 13px;
                    font-weight: 700;
                    line-height: 40px;
                }
            }
            .name{
                font-size: 13px;
                line-height: 56px;
                margin-left: 16px;
            }
            .content{
                font-size: 13px;
                line-height: 56px;
                display: flex;
                align-items: center;
            }
            .employeeOnline{
                float: right;
                height: 16px;
                width: 16px;
                margin-top: 20px;
                border-radius: 16px;
            }
            .managerSquare {
                width: 32px;
                height: 32px;
                border-radius: 4px;
                float: left;
                margin-top: 12px;
                line-height: 32px;
                text-align: center;
                font-size: 16px;
                color: white;
                font-weight: 500;
                background-color: #5D76FF;
                background-position: center;
                background-size: cover;

                &:not(:first-child){
                    margin-left: 8px
                }
            }
            .editOptions{
                opacity: 0;
                transition: opacity 150ms ease-in-out;
                display: flex;
                flex-direction: row-reverse;
                margin-right: 16px;
                & > i:not(:first-child){
                    margin-right: 16px;
                }
            }
        }
    }
    .profilepicture{
        border-radius: 4px;
        background-color: #F5F5F5;
        background-position: center;
        background-size: cover;
        margin-left: 16px;
        margin-top: 16px;
        width: 96px;
        height: 96px;
    }
    .status{
        border-radius: 2px;
        width: 96px;
        line-height: 16px;
        text-align: center;
        font-size: 10px;
        margin-left: 16px;
        margin-top: 8px;
        color: white;
    }
    .percentage{
        width: 24px;
        font-size: 13px;
        letter-spacing: -0.5px;
        text-align: center;
        float: left;
    }
    .percantageBar{
        width: 80px;
        height: 8px;
        margin-left: 8px;
        border-radius: 2px;
        background-color: rgba(32, 186, 169, 0.4);
        float: left;
        position: relative;
    }
    .percantageInline{
        height: 8px;
        background-color: rgb(32, 186, 169);
    }
}