.card-double {
  width: 552px;
  height: 256px;
  border: 1px solid #f4f5f7;
  border-radius: 12px;

  .card-header {
    height: 80px;
    background: #ccf2ff 0% 0% no-repeat padding-box;
    border-radius: 12px 0px;
    padding: 16px;

    .rating {
      font-size: 12px;

      .fa-star {
        color: #30475d;
      }
    }
  }
}
