.card-double {
  width: 552px;
  height: 256px;
  border: 1px solid #f4f5f7;
  border-radius: 12px;
  overflow: hidden;

  .header {
    height: 48px;
    width: flexible;
    background: 0% 0% no-repeat padding-box;
    padding: 16px;
    font-size: 14px;

    .item {
      margin-right: 16px;
      float: left;

      &:last-child {
        margin-right: 0px;
        float: right;
      }
    }

    .rating {
      font-size: 12px;

      .fa-star {
        color: #30475d;
      }
    }

    #tags {
      margin: -4px 0px -4px 16px;
    }

    .tag {
      border: 1px solid #c9d1da;
      border-radius: 6px;
      background-color: white;
      width: 84px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 8px;
    }
  }
}
