.marketplace {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-gap: 24px;
  max-width: 1608px;
  margin: auto;
  padding: 16px 32px 0;
  color: #3b4c5d;

  .genericSearchHolder {
    grid-column: 4 / span 6;
    grid-row-start: 1;
    margin: -8px auto;
  }

  .headline {
    grid-column: 1 / span 3;
    margin: -8px 0;
    font-weight: 500;
  }

  > hr {
    transform: translate(0, 5px);
    grid-column: 1 / span 12;

    &:first-child {
      display: none;
    }
  }

  .promoted {
    grid-row: 2;
  }
}
