$modal-z: 2000000;
$modal-wh: 50%;

#overlay {
  align-items: center;
  background-color: rgba(37, 54, 71, 0.8);
  display: flex;
  height: calc(100vh - 32px);
  justify-content: center;
  left: 0;
  position: fixed;
  top: 32px;
  width: 100vw;
  z-index: $modal-z;
}

#popup {
  opacity: 0;
  background-color: $white;
  min-height: 25%;
  max-height: 75%;
  position: relative;
  width: $modal-wh;
  border-radius: 3px;
  animation: fly-in 150ms ease-in-out 100ms forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;

  @keyframes fly-in {
    0% {
      transform: translateY(40rem);
      opacity: 0;
    }

    90% {
      transform: translateY(-10px);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-header {
    position: absolute;
    width: 100%;
    top: -2.2rem;
    color: $white;
    display: flex;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid;
    border-image: $vipfy-primary;
    border-image-slice: 1;

    &-text {
      font-weight: bold;
      padding-top: 5px;
    }
  }

  &-body-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  &-close-button {
    color: $white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    right: -10px;
    top: 0;
    transition: all 0.5s ease-in;

    &:hover {
      font-size: 20px;
    }
  }

  &-info {
    margin: 1rem;
    font-size: large;
  }
}

.popup-body-wrapper {
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
}

.backgroundPopup {
  position: fixed;
  top: 32px;
  left: 0;
  width: 100%;
  height: calc(100vh - 32px);
  z-index: 1000000;
  background-color: rgba($vipfy_mainColor, 0.8);
  display: flex;
  opacity: 0;
}

.sideReplicaPopup {
  height: 100%;
}

.holderPopup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: flex-start;
}

.universalPopup {
  width: 100%;
  max-width: 71rem;
  background: $white;
  box-shadow: $vipfy-lightshadow;
  border-radius: $vipfy_bigradius;
  position: relative;
  height: auto;
  overflow: auto;
  margin-top: 56px; //+32px == 88px
  margin-bottom: 88px;
  max-height: calc(100vh - 88px - 88px);
}

.closePopup {
  position: absolute;
  text-align: center;
  cursor: pointer;
  border-radius: $vipfy_smallradius;
  transition: background-color 200ms ease-in-out;

  right: 8px;
  top: 8px;
  width: 24px;
  line-height: 24px;
  font-size: 16px;

  &:hover {
    background-color: rgba($vipfy_mainColor, 0.15);
  }
}

.contentPopup {
  margin: 32px 48px 24px 48px;
  cursor: initial;
}

.buttonsPopup {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.autoclose {
  height: 8px;
  width: 100%;
  position: absolute;
  background-color: #20baa9;
  bottom: 0;
  left: 0;
}

.popup {
  &-sso {
    display: flex;
    flex-flow: column;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

    h3 {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: 16px;
    }

    .hide-sso-webview {
      height: 0;
      width: 0;
      opacity: 1;
      position: absolute;
      overflow: hidden;
    }
  }
}

.formPopup {
  h1 {
    font-size: 24px;
    display: block;
    text-align: center;
    padding-bottom: 24px;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
  }
  h2 {
    font-size: 16px;
    display: block;
    text-align: center;
    padding-bottom: 48px;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: 400;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
  }
  .universalLabelInput {
    width: 100%;
    margin-bottom: 40px;
  }
  .buttonsPopup {
    margin-top: 56px;
    justify-content: space-between;
  }
  .serviceIconHolderTeamAdd {
    position: relative;
    width: 100%;
    height: 48px;
    display: flex;
    margin-bottom: 24px;
  }
  .coll {
    transition: height 300ms ease-in-out, margin-top 0ms ease-in-out 300ms;
    overflow: hidden;
  }
  .chevron {
    margin-right: 8px;
    line-height: 24px;
    transition: transform 300ms ease-in-out;
  }
}
.assignNewAccountPopup {
  h1 {
    font-size: 24px;
    display: block;
    text-align: center;
    padding-bottom: 48px;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
  }
  h2 {
    font-size: 16px;
    padding-top: 48px;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: 400;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
  }
  .searchResult {
    line-height: 42px;
    font-size: 15px;

    .managerSquare {
      margin-top: 5px;
      margin-right: 8px;
    }

    &:hover {
      line-height: 40px;

      .managerSquare {
        margin-top: 4px;
      }
    }
  }
  .editbutton {
    position: absolute;
    top: -1px;
    right: 0px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  .listingDiv:not(:first-of-type) {
    margin-top: 16px;
  }

  .chooseButton {
    line-height: 24px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: solid 1px;

    &:hover {
      background-color: rgba(32, 186, 169, 0.1);
    }
  }
  .disclaimerShare {
    position: absolute;
    color: red;
    font-size: 10px;
    right: 0;
    bottom: -12px;
  }
  .warning {
    position: absolute;
    top: -1px;
    right: 26px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;

    .warningTitle {
      position: absolute;
      color: #253647;
      font-weight: normal;
      font-size: 12px;
      top: -16px;
      right: 30px;
      width: 120px;
      background-color: $white;
      padding: 5px;
      font-family: "Roboto";
      display: none;
    }

    &:hover {
      .warningTitle {
        display: block;
      }
    }
  }
  .coll {
    transition: height 300ms ease-in-out, margin-top 0ms ease-in-out 300ms;
    overflow: hidden;
  }
  .chevron {
    margin-right: 8px;
    line-height: 24px;
    transition: transform 300ms ease-in-out;
  }
}

.circeSave {
  $brand-success: #20baa9;
  $brand-error: #db4d3f;
  $loader-size: 7em;
  $check-height: $loader-size/2;
  $check-width: $check-height/2;
  $check-left: ($loader-size/6 + $loader-size/12);
  $check-thickness: 5px;
  $check-color: $brand-success;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 122, 111, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 1000ms linear;
  flex-flow: column;
  overflow: hidden;

  &.inner {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    top: -50%;
    left: -50%;
    &.loadComplete {
      box-shadow: 0px 0px 500px 500px inset $brand-success;
    }

    &.loadError {
      box-shadow: 0px 0px 500px 500px inset $brand-error;
    }
  }

  .errorMessageHolder {
    display: none;
    position: absolute;
    bottom: 20px;
    text-align: center;

    .message {
      color: #f5f5f5;
      padding: 10px 20px;
      border-radius: 4px;
    }

    button {
      background-color: #f5f5f5;
      padding: 10px 20px;
      border-radius: 4px;
      margin-top: 20px;
      cursor: pointer;
    }
  }

  // Define vars we'll be using

  .circle-loader {
    margin-bottom: 20%;
    border: 5px solid #eee;
    border-left-color: $check-color;
    animation: loader-spin 1.2s infinite linear;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: $loader-size;
    height: $loader-size;
  }

  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: $check-color;
    transition: border 500ms ease-out;
  }

  .load-error {
    -webkit-animation: none;
    animation: none;
    border-color: #eee;
    transition: border 500ms ease-out;
  }

  .checkmark {
    display: none;

    &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: checkmark;
      transform: scaleX(-1) rotate(135deg);
    }

    &:after {
      opacity: 1;
      height: $check-height;
      width: $check-width;
      transform-origin: left top;
      border-right: $check-thickness solid $check-color;
      border-top: $check-thickness solid $check-color;
      content: "";
      left: $check-left;
      top: $check-height;
      position: absolute;
    }
  }

  .cross {
    display: none;

    &.draw:after {
      transform: scaleX(-1) rotate(135deg);
    }

    &:after {
      opacity: 1;
      height: 50px;
      width: 50px;
      transform-origin: left top;
      border-top: $check-thickness solid #eee;
      content: "";
      left: 37px;
      top: 40px;
      position: absolute;
    }

    &.draw:before {
      transform: scaleX(-1) rotate(45deg);
    }

    &:before {
      opacity: 1;
      height: 50px;
      width: 50px;
      transform-origin: left top;
      border-bottom: $check-thickness solid #eee;
      content: "";
      left: 37px;
      top: 1px;
      position: absolute;
    }
  }

  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
  }
}
