$modal-z: 10000;
$modal-wh: 50%;

#overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $modal-z;
  animation: lay-over 100ms ease-in;

  @keyframes lay-over {
    from {
      transform: translateY(-40rem);
    }

    to {
      transform: translateY(0);
    }
  }
}

#popup {
  opacity: 0;
  background-color: #fff;
  min-height: 25%;
  max-height: 75%;
  position: relative;
  width: $modal-wh;
  border-radius: 3px;
  animation: fly-in 150ms ease-in-out 100ms forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-wrap: wrap;

  @keyframes fly-in {
    0% {
      transform: translateY(40rem);
      opacity: 0;
    }

    90% {
      transform: translateY(-10px);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &-header {
    position: absolute;
    width: 100%;
    top: -2.2rem;
    color: #fff;
    display: flex;
    padding-bottom: 0.2rem;
    border-bottom: 0.2rem solid;
    border-image: $vipfy-primary;
    border-image-slice: 1;

    &-text {
      font-weight: bold;
      padding-top: 5px;
    }
  }

  &-body-wrapper {
    display: flex;
    flex-flow: column nowrap;
  }

  &-close-button {
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 30px;
    right: -10px;
    top: 0;
    transition: all 0.5s ease-in;

    &:hover {
      font-size: 20px;
    }
  }

  &-info {
    margin: 1rem;
    font-size: large;
  }
}

.popup-body-wrapper{
  overflow-y: auto;
  max-height: 70vh;
  width: 100%;
}

.backgroundPopup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  background-color: rgba($vipfy_mainColor, 0.1);
  display: flex;
  opacity: 0;
}

.sideReplicaPopup{
  height: 100%;
}

.holderPopup{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.universalPopup{
  width: 100%;
  max-width: 60rem;
  background: white;
  box-shadow: $vipfy-lightshadow;
  border-radius: $vipfy_bigradius;
  position: relative;
  height: auto;
  //transform: scale(0);
  margin-bottom: 50px;
  max-height: 80vh;
  overflow: auto;
}

.closePopup{
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  border-radius: $vipfy_smallradius;
  transition: background-color 200ms ease-in-out;

  &:hover{
    background-color: rgba($vipfy_mainColor, 0.15);
  }
}

.contentPopup{
  margin: 40px;
}

.buttonsPopup{
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.autoclose{
  height: 8px;
  width: 100%;
  position: absolute;
  background-color: #20baa9;
  bottom: 0;
  left: 0;
}

.popup {
  &-sso {
    display: flex;
    flex-flow: column;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 341px;

    h3 {
      display: flex;
      flex-flow: column;
      align-items: center;
      font-size: 16px;
    }

    .hide-sso-webview {
      height: 0;
      width: 0;
      opacity: 1;
      position: absolute;
      overflow: hidden;
    }
  }
}