$border: 1px solid #005;
$shadow-color: #f0f3ff;

#profile-page {
  display: flex;
  flex-flow: column;
  padding: 48px;

  .profile-page-item {
    background: #fff;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    margin: auto;
    max-width: 60rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;

    .header {
      background-color: #20BAA9;
      color: white;
    }
  }

  .item-information {
    display: grid;
    grid-template-areas:
      'header header'
      'pic information'
      'address address'
      'phone phone'
      'email email';
    grid-template-columns: 2fr 7fr;
  }

  .header {
    //border-bottom: $border;
    //font-weight: bold;
    //grid-area: header;
    //padding: 0.5rem 0;
    //position: relative;
    //text-align: center;
  }

  .pic-holder {
    align-items: center;
    display: flex;
    flex-flow: column;
    grid-area: pic;
    justify-content: center;
    margin: 20px auto;

    .pic {
      border-radius: 3px;
      cursor: pointer;
      //margin: 1rem 0;
      width: 6rem;
      height: 6rem;
    }

    div {
      font-size: 0.8rem;
    }
  }

  .addresses {
    grid-area: address;
  }

  .phones {
    grid-area: phone;
  }

  .emails {
    grid-area: email;
  }

  .app-list {
    display: flex;
    flex-flow: column;
  }

  .information {
    grid-area: information;
    position: relative;
    padding: 20px;

    ul {
      list-style: none;
      margin: 0;

      li {
        display: flex;
        justify-content: flex-end;
        margin: 0.2rem 0;

        label {
          flex: 1;
          padding-right: 0.3rem;
        }

        span {
          flex: 4;
        }

        &:last-child {
          justify-content: start;
        }
      }
    }
  }
}

.naked-button-holder {
  display: flex;
  justify-content: space-evenly;

  button {
    margin-right: 0.2rem;

    &:disabled {
      cursor: not-allowed;
      color: #ccc;
    }

    &:hover {
      color: $vipfy-secondary-color;
      transition: color 0.5s ease-in-out 0.1s;
    }
  }
}

/*.addresses {
  @extend .header;
  border-bottom: 0!important;
  cursor: default;
  margin-top: 1rem;
  background-color: white !important;
  color: #333 !important;

  &-header {
    @include grid-system(3fr 1fr 2fr 1fr 2fr 1fr 1fr);
    border-bottom: 2px solid #117f91;
    font-weight: bold;
    align-items: center;
    margin-top: 1rem;
    grid-column-gap: 0.5rem;
  }

  &-list {
    @extend .addresses-header;
    border-bottom: 0!important;
    margin: 0 0 0.3rem 0;
    font-weight: normal;

    span {
      &:first-child,
      &:nth-child(5) {
        @include hide-overflowing-text;
      }
      
      &:nth-child(6) {
        text-align: center;
      }
    }

    input {
      @include hide-overflowing-text;

      &:focus {
        color: #000;
      }
    }
  }
}

.phones {
  @extend .addresses;

  &-header {
    @include grid-system(3fr 2fr 1fr 1fr 2fr 1fr);
    font-weight: bold;
    align-items: center;
    grid-column-gap: 0.5rem;
    margin-top: 1rem;
  }

  &-list {
    @extend .phones-header;
    margin-top: 0;
    font-weight: normal;

    span {
      &:first-child,
      &:nth-child(2) {
        @include hide-overflowing-text;
      }
    }
  }

  input {
    @include hide-overflowing-text;
    text-align: center;

    &:focus {
      color: #000;
    }
  }
}*/

.profile-app {
  width: 8em;
  height: 8em;
  cursor: crosshair;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 1em;
  position: relative;
  box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  text-align: center;

  &-holder {
    display: grid;
    grid-template-rows: repeat(auto-fill, 8rem);
    grid-template-columns: repeat(auto-fill, 8rem);
    margin: 20px;
    margin-bottom: 40px;
    grid-gap: 1rem;

    .hold {
      border: solid $vipfy-primary-color 4px;
      opacity: 0.3;
      transition: all 300ms ease-in-out;
    }

    .hovered {
      opacity: 0.4;
      border-style: dashed;
      transition: all 300ms ease-in-out;
    }
  }

  .name {
    position: absolute;
    bottom: -27px;
    font-size: 0.75rem;
    left: 0.5em;
    height: 16px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 1em);
    text-align: left;

    i {
      cursor: pointer;
    }
  }
}

.shaking {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
  font-size: 5rem !important;
  line-height: 8rem !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}