.security-table {  
  padding: 6px 0 0; 
  border-spacing: 20px 10px;

  tbody {
    tr {
      height: 56px;

      &:last-child {
        height: 37px;
      }

      &:not(:last-child):hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
      }
    }

    td {
      position: relative;
      max-width: 128px;
      
      &:first-child {
        margin-top: 11px;
        
        .name {
          @include hide-overflowing-text;
          max-width: 180px;
          padding: 8px 0 0;
          margin-left: 45px;
        }
      }

      &:last-child {
        max-width: 72px;
      }

      .managerSquare {
        margin-top: 0;
      }

      .fa-star {
        color: $vipfy-primary-color;
      }

      .star-empty {
        color: #ccc;
      }
    }

    .error {
      color: crimson;
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 430px;
      text-align: right;
    }
  }
}