.security-table {  
  padding: 20px 0; 
  border-spacing: 20px 10px;

  tbody {
    tr {
     height: 56px;

      &:hover {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.14);
      }

      .managerSquare {
        margin-top: 0;
      }

      .fa-star {
        color: $vipfy-primary-color;
      }

      .star-empty {
        color: #ccc;
      }
    }

    td {
      position: relative;
    }

    .error {
      color: crimson;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 430px;
      text-align: right;
    }
  }
}

.security-settings {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  li {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 1fr 1fr;

    h3 {

    }

    p {
      font-size: 10px;
      opacity: 0.6; 
    }
  }
}