.service-creation {
  margin: 2rem;

  .generic-form {
    .searchbarHolder {
      .generic-checkbox-holder {
        margin-left: 1rem;

        i {
          margin-right: 0.3rem;
        }
      }

      .dropzone {
        margin: 0 0 0 1rem;
        display: flex;
        height: 100px;

        label {
          margin: auto;
        }
      }
    }

    .generic-button-holder {
      bottom: 1rem;
      right: 9rem;
    }
  }
}