.sidebar {
  background-color: #253647ff;
  transition: width 0.6s ease-in-out;
  width:  $sidebar-width;
  height: calc(100vh - 32px);
  z-index: 300;
  float: left;
  overflow: hidden;

  &-main {
    overflow-x: hidden;
    overflow-y: auto;
    
    &::-webkit-scrollbar-thumb {
      background: $vipfy-primary-color;
    }

    &::-webkit-scrollbar-track {
      background: $vipfy-secondary-color;
    }
    &::-webkit-scrollbar {
      width: 5px;
    }
  }

  &-nav-icon {
    cursor: pointer;
    padding: 16px;
    width: 16px;
    transition: all 300ms ease;
    display: flex;
    justify-content: center;
    align-items: center;
  
    &-turn {
      @extend .sidebar-nav-icon;
      transform: scale(-1, 1);
    }
  }

  &-logo-small {
    background-image: $newlogo-small;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    width: 14px;
  }

  &-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0 0 11px;
    margin: $sidebar-margin;
    transition: all 300ms ease-in-out;
    position: relative;
    height: 28px;

    &:hover {
      background-color: #293E52ff;
      border-radius: 4px;
    }

    &-small {
      @extend .sidebar-link;
      padding: 0;
      width: 32px;
      display: flex;
      justify-content: center;
    }

    .instanceHolder {
      position: fixed;
      background-color: #253647;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;

      .instance {
        padding: 0.5rem 10px;

        &:hover {
          background-color: $vipfy-primary-color;
        }
      }
    }

    @keyframes fadeInSidebar {
      0% {
        opacity: 0;
      }
      
      80% {
        opacity: 1;
      }
    }

    &-app {
      @extend .sidebar-link;
      animation: fadeInSidebar 200ms ease-out normal backwards;

      @for $x from 1 through 40 {
        &:nth-child(#{$x}) {
          animation-delay: $x * 50ms;
        }
      }
    }

    &-holder {
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;
      color: #fff;
      overflow: hidden;
      user-select: none;
      height: 100%;
      display: grid;
      grid-template-rows: 48px 1fr 40px;
      grid-template-columns: 1fr;

      .hold {
        border: solid $vipfy-primary-color 1px;
        opacity: 0.3;
        transition: all 300ms ease-in-out;
      }
  
      .hovered {
        opacity: 0.4;
        border-style: dotted;
        transition: all 300ms ease-in-out;
      }

      .show-more {
        margin-left: 8px;

        button {
          @extend .sidebar-link;
          color: #ffffff80;

          &:hover {
            background-color: $sidebar-background;
          }

          .sidebar-link-caption {
            padding-left: 24px;
          }

          i {
            transition: all 300ms ease-in-out;
          }

          .open {
            transform: rotate(180deg);
           }
        }

        &-small {
          button {
            @extend .sidebar-link-small;
            margin-left: 8px;
            margin-right: 8px;
          }

          .open {
            transform: rotate(180deg);
           }
        }
      }
    }

    &-apps {
      display: flex;
      align-items: center;
      width: 200px;

      &-small {
        width: 32px;

        i {
          margin: auto;
        }
      }

      .sidebar-link-caption {
        margin-right: 22px;
      }

      .carret {
        justify-self: flex-end;
        transition: all 300ms ease-in-out;
      }
      
      .open {
        transform: rotate(90deg);
      }
    }

    &-caption {
      @include hide-overflowing-text;
      opacity: 100;
      padding-left: 1em;
      transition: all 0.6s ease-in-out;
      font-size: 16px;
      font-weight: 300;
    }
  }

  &-small {
    @extend .sidebar;
    width: 48px;
  }

  &-nav-small {
    width: 48px;
  }

  &-active {
    background: #30475dff;
    transition: all 600ms ease-in-out;
    box-shadow: 0 2px 2px #00000029;
    border-radius: 4px;
  }

  &-search-tooltip {
    display: flex;
    align-items: center;
    padding-left: 0;
    cursor: pointer;

    .open {
      transform: rotate(90deg);
      transition: all 300ms ease-in-out;
    }

    i {
      margin-right: 5px;
      transition: all 300ms ease-in-out;
    }
  }

  .fa-search {
    color: #ffffff80;
  }
}

.sidebar-search {
  @extend .sidebar-link-caption;
  margin-left: 4px;
  color: #fff;
  outline: none;
  border: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;

  &::placeholder {
    color: #ffffff80;
  }

  &-tooltip {
    @extend .sidebar-search;
    color: $vipfy-secondary-color;
  }
}

.sidebar-open {
  margin-left: $sidebar-width !important;
  transition: margin-left 0.6s ease-in-out;
}

.sidebarfree {
  height: 2em;
  width: 1em;
}

.show-not {
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.6s ease-in-out;
  height: 1em;
  width: 0;
  line-height: 1em;
}

.white-background {
  background: #fff;
  height: 24px;
  width: 24px;
  position: absolute;
  border-radius: 4px;
}

.service-logo-small {
  height: 24px;
  width: 24px;
  padding: 0rem !important;
  border-radius: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  background-position: center;
  position: relative;
}