.sidebar {
  background-color: #30475D;
  //height: calc(100vh - 32px);
  height: calc(100vh - 32px);
  z-index: 300;
  float: left;
  //animation: grow 600ms ease-in-out forwards;
  color: #fff;
  user-select: none;
  display: grid;
  width: 240px;
  border-radius: 0px 16px 16px 0px;
  transition: width 600ms ease;
  position: relative;

  .adminHeadline{
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 44px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;


    &-kategorieTitel{
      margin-top: 24px;
      margin-left: 44px;
      white-space: nowrap;
      overflow: hidden;
      font-size: 10px;
    }

    &-kategorieElement{
      margin-top: 8px;
      margin-left: 24px;
      width: 160px;
      height: 32px;
      border-radius: 16px;
      transition: all 600ms ease;

      .label {
        text-align: left;
        font-size: 14px;
        white-space: nowrap;
        overflow: hidden;
        transition: all 300ms ease;
        margin-left: 20px;
      }

      &:hover {
        background: #1E2B39;
      }

      &.active {
        background: #18222E;
      }

      &.selected {
        background: #18222E;
      }

      &:disabled {
        background: #253647;
        color: #C8CDD1;
      }
    }
  }

  &-admin {
    @extend .sidebar;
    width: 416px;
  }
  
  &-small {
    @extend .sidebar;
    width: 64px;
    &-admin{
      @extend .sidebar;
      width: 240px;
    }
   // animation: shrink 600ms ease-in-out forwards;
  }

  .original {
    background-color: #30475D;
    height: calc(100vh - 32px);
    z-index: 300;
    float: left;
    color: #fff;
    user-select: none;
    display: grid;
    grid-template-rows: calc(100% - 159px) 1px 48px 48px 32px;
    width: 240px;
    border-radius: 0px 16px 16px 0px;
    transition: width 600ms ease;
    position: relative;

    &-small {
      @extend .original;
      width: 64px;
    }
  }

  &-adminpanel{
    border-radius: 0px 16px 16px 0px;
    position: absolute;
    background: #253647;
    width: 192px;
    left: 224px;
    height: 100%;
    z-index: 200;
    transition: all 600ms ease;
    .collapsed{
      display: none;
    }

    &.hidden{
      width: 0px;
    }

    &.small{
      left: 48px;
    }
  }

  .divider{
    transition: all 600ms ease;
    height: 1px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    background: #FFFFFF;

    &.bottom{
      margin-top: 0px;
      margin-bottom: 16px;
    }
  }

  &-tooltip {
    position: relative;
    margin-left: 6px;
    margin-right: 6px;

    &-nav{
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-impersonate {
    background-color: #EDEDED;
    color: #1C2935ff;

    .sidebar-apps > .sidebar-.sidebar-active>.itemHolderlink:first-of-type > .naked-button {
      background: #F5F5F5 0% 0% no-repeat padding-box !important;
      /* box-shadow: 0 2px 2px #00000029 !important; */
      
      input,
      .fa-search {
        color: #1C2935ff!important;
      }

      input::placeholder {
        color: #7d8185!important;
      }
    }
    
    .sidebar-active  > .itemHolder {
      background: #F5F5F5 0% 0% no-repeat padding-box !important;
      box-shadow: 0 2px 2px #00000029 !important;
    }

    .itemHolder {
      &:hover {
        background: #F5F5F5 0% 0% no-repeat padding-box !important;
        /* box-shadow: 0 2px 2px #00000029 !important; */
      } 
    }
  }

  .itemHolder {
    display: flex;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    transition: background-color 300ms ease, box-shadow 300ms ease, width 600ms ease;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow: visible;

    &:hover {
      background: #26394A;
      /* box-shadow: 0 2px 2px #00000029; */
    }
    &.active{
      background: #1E2E3B;
      /* box-shadow: 0 2px 2px #00000029; */
    }

    &.selected{
      background: #1E2E3B;
      /* box-shadow: 0 2px 2px #00000029; */
    }
    
    &:disabled {
      background: #97A2AD;
      box-shadow: 0 0px 0px #00000029;
    }
  }

  .service-hover{
    width: 32px;
    height: 32px;
    border-radius: 32px;
    position: relative;
    top: 0px;
    box-shadow: 0px 0px 0px #00000059;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .serviceHolder {
    top: 0px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    transition: top 300ms ease,  background-color 300ms ease, box-shadow 300ms ease, width 600ms ease;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow: visible;
  
    &:hover{ 
      .service-hover{
        top: -1px;
        box-shadow: 0px 3px 4px #00000059;
      }
    }
  
    &.selected{
      .service-hover{
        top: -1px;
        box-shadow: 0px 6px 10px #00000059;
      }
    }
    
    &.active { 
      .service-hover{
        top: -2px;
        box-shadow: 0px 9px 12px #00000059;
      }
    }

    &:disabled {
      .service-hover{
        box-shadow: 0px 0px 0px #00000059;
        top: 0px;
        opacity: 0.5;
      }
    }
  }

  .hold {
    border: solid $vipfy-primary-color 1px;
    opacity: 0.3;
    transition: all 300ms ease-in-out;
  }

  .hovered {
    opacity: 0.4;
    border-style: dotted;
    transition: all 300ms ease-in-out;
  }

  .small-profile-pic {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }

  .tiny-profile-pic {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    line-height: 16px;

  }

  .sidebar-link-caption-context {
    @extend .sidebar-link-caption;
  //  animation: caption-grow-context 600ms ease-in-out forwards !important;
  }

  .showMore {
    & > i{
      transition: transform 300ms ease-in-out;
    }

    & > .open {
      transform: rotate(180deg);
    }
    
    &-small {
      transition: all 600ms ease-in-out;

      button {
        @extend .sidebar-link-small;
        margin-right: 8px;
      }

      .open {
        transform: rotate(180deg);
       }
    }
  }

  &-main {
    /* height: calc(100% - 159px); */
    overflow-x: hidden;
    overflow-y: hidden;
    
    &::-webkit-scrollbar-thumb {
      background: rgba(37, 54, 71, 0.5);
    }

    &::-webkit-scrollbar-track {
      background: rgba(255,255,255,0.5);
    }
    &::-webkit-scrollbar {
      width: 5px;
    }

    .sidebarAppsholder{
      height: calc(100% - 216px); 
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 0px;
      }
    }
  }

  &-nav-icon {
    top: 14px;
    border-radius: 20px;
    width: 20px;
    right: -10px;
    background: #3E576E;
    z-index: 100;
    height: 20px;
    position: absolute;
    transition: all 600ms ease;
  
  }

  &-logo-small {
    background-image: $newlogo-small;
  }

  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13px;
    width: 14px;

    &:disabled {
      background: #CBD1D6
    }
  }

  &-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 8px 16px;
    position: relative;
    width: 208px;
    height: 32px;
    border-radius: 32px 32px 32px 32px;
    transition: width 600ms ease;
    
    &-small {
      @extend .sidebar-link;
      width: 32px;
    }

    &.service {
      margin: 16px 16px;

      &-small {
        @extend .sidebar-link.service;
        width: 32px;
      }
    }

    .highlight {
      z-index: -1;
      position: absolute;
      left: -5px;
      background: #30475dff;
      box-shadow: 0 2px 2px #00000029;
      border-radius: 4px;
    }

    .instanceHolder {
      position: fixed;
      background-color: #253647;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;

      .instance {
        padding: 0.5rem 10px;

        &:hover {
          background-color: $vipfy-primary-color;
        }
      }
    }

    &-apps {
      display: flex;
      align-items: center;
      width: 200px;

      &-small {
        width: 32px;

        i {
          margin: auto;
        }
      }

      .sidebar-link-caption {
        margin-right: 22px;
      }

      .carret {
        justify-self: flex-end;
        transition: all 300ms ease-in-out;
      }
      
      .open {
        transform: rotate(90deg);
      }
    }

    &-caption {
      //@include hide-overflowing-text;
      white-space: nowrap;
      overflow: hidden;
      font-size: 16px;
      font-weight: 300;
      margin-left: 16px;
      max-width: 185px;
    }
  
    .show-more {
  //    transform: translateX(8px);
      text-align: left;
    }

    .invisible {
    //  animation: caption-shrink 600ms ease-in-out forwards;
    }

    .invisible-context {
   //   animation: caption-shrink-context 600ms ease-in-out forwards !important;
    }
  }

  

  &-active {
    position: relative;

    & > .itemHolder{
      background: #1E2E3B;
     /*  box-shadow: 0 2px 2px #00000029; */
    }
  }

  &-search-tooltip {
    display: flex;
    align-items: center;
    padding-left: 0;
    cursor: pointer;

    .open {
      transform: rotate(90deg);
      transition: all 300ms ease-in-out;
    }

    i {
      margin-right: 5px;
      transition: all 300ms ease-in-out;
    }
  }

  .fa-search {
    color: #ffffff80;
  }

  /*&-apps {
    .sidebar-link-small {
      margin-left: 3px;
    }
  }*/

  .notification-amount {
    right: -8px;
    top: -8px;
    font-size: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    background-color: #FF6F61;
    color: #ffffff;
    position: absolute;
  }

  .active-user {
    right: -4px;
    top: +20px;
    font-size: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;/* 
    background-color: #FF6F61;
    color: #ffffff; */
    position: absolute;
  }
}

.sidebar-search {
  @extend .sidebar-link-caption;
  margin-left: 0px;
  color: #fff;
  outline: none;
  border: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  width: 100%;

  &::placeholder {
    color: #ffffff80;
    transition: all 600ms ease-in-out;
    opacity: 1;
  }

  &-tooltip {
    @extend .sidebar-search;
    color: $vipfy-secondary-color;
  }
}

.sidebar-search-hide {
  @extend .sidebar-search;

  &::placeholder {
    opacity: 0;
  }
}

.sidebarfree {
  height: 2em;
  width: 1em;
}

.show-not {
  font-size: 1em;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.6s ease-in-out;
  height: 1em;
  width: 0;
  line-height: 1em;
}

.white-background {
  background: #fff;
  height: 32px;
  width: 32px;
  position: absolute;
  border-radius: 32px;
}

.service-logo-small {
  height: 32px;
  width: 32px;
  padding: 0rem !important;
  border-radius: 32px;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  display: flex;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  background-position: center;
  position: relative;
}

.vacation {
  position: relative;
  height: 5rem;
  overflow: hidden;

  &::after {
    content: "vacation";
    position: absolute;
    width: 100%;
    top: 25px;
    right: -25px;
    font-size: 0.7rem;
    height: 16px;
    background: $vipfy-vacation-blue;
    transform: rotate(44deg);
    z-index: 1;
    color: #fff;
  }
}

.context-menu {
  width: 192px;
  position: fixed;
  bottom: 8px;
  background: #f5f5f5;
  border-radius: 4px;
  font-size: 13px;
  transition: all 300ms ease-in-out;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px;
  color: #253647;

  &>button{
    height: 24px;
    line-height: 24px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    width: 100%;

    &>span{
      padding-left: 8px;
    }
    &>i{
      padding-right: 8px;
      opacity: 0;
    }

    &:hover{
      box-shadow: rgba(0, 0, 0, 0.14) 0px 0px 4px;

      &>i{
        opacity: 1;
      }
    }
  }
}

@keyframes shrink {
  from {
    width: $sidebar-width;
  } to {
    width: 48px;
  }
}

@keyframes grow {
  from {
    width: 48px;
  } to {
    width: $sidebar-width;
  }
}

@keyframes caption-shrink {
  from {
    opacity: 1;
    padding-left: 1em;
  } to {
    opacity: 0;
    padding-left: 0;
    width: 0;
  }
}

@keyframes caption-shrink-context {
  from {
    opacity: 1;
    padding-left: 6px;
  } to {
    opacity: 0;
    padding-left: 0;
    width: 0;
  }
}

@keyframes caption-grow {
  from {
    opacity: 0;
    padding-left: 0;
    width: 0;
  } to {
    opacity: 1;
    padding-left: 1em;
    width: 200px;
  }
}

@keyframes caption-grow-context {
  from {
    opacity: 0;
    padding-left: 0;
    width: 0;
  } to {
    opacity: 1;
    padding-left: 6px;
    width: 200px;
  }
}

.notificationPopup {
  position: fixed;
  bottom: 48px;
  left: 209px;
  border-radius: 4px;
  z-index: 1000;
  width: 24rem;
  background-color: white;
  margin: 0.125rem 0 0;
  background-clip: padding-box;
  border: 1px solid #e9ecef;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
  cursor: default;
  //animation: pop-in 150ms ease-in-out 0s forwards;
  transform-origin: left bottom;
  color: $vipfy-normaltext;
  

  @keyframes pop-in {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
  
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.notificationPopupFooter {
  padding: 0.75rem 1.25rem;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.03);
}

.notificationPopupHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  margin: 0;
  background-color: rgba(0,0,0,0.03);
  font-size: 0.8rem;
  font-weight: bold;
  white-space: nowrap;
}

.notification-item {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  margin-bottom: -1px;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    background: #eee;
  }

  &:active {
    background: $vipfy-primary;
  }
}

.bug {
  color: red;
}

.notification-icon {
  color: #3abf94;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
}

.notificationText {
  margin: 0;
  font-size: 0.75rem;
  width: calc(100% - 2.5rem);
}

.notificationTime {
  width: calc(100% - 2.5rem);
  margin-left: 2.5rem;
  font-size: 0.6rem;
}

.notificationPopupScroller {
  max-height: 15rem;
  overflow-y: auto;
}

.sidebarButton{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sidebar-neu{
  background-color: #30475D;
  //height: calc(100vh - 32px);
  height: 100%;
  z-index: 300;
  float: left;
  //animation: grow 600ms ease-in-out forwards;
  color: #fff;
  user-select: none;
  display: grid;
  grid-template-rows: 32px calc(100% - 128px) 48px 32px;
  width: 32px;
  height: 32px;
  transition: width 600ms ease;

  &-link{
    background: red;
    cursor: pointer;
    display: flex;
    align-items: center;
    list-style: none;
    margin: 8px 8px;
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 32px 32px 32px 32px;
  }

  &-small {
    width: 32px;
  }

  .sidebar-active  > .itemHolder {
    border-radius: 32px 32px 32px 32px;
    height: 100%;
    background: #F5F5F5 0% 0% no-repeat padding-box !important;
    box-shadow: 0 2px 2px #00000029 !important;
  }

  .itemHolder {
    display: flex;
    align-items: center;
    border-radius: 32px 32px 32px 32px;
    transition: background-color 300ms ease, box-shadow 300ms ease, width 600ms ease;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow: visible;

    &:hover {
      background: #26394A;
      box-shadow: 0 2px 2px #00000029;
    }

    &.selected{
      background: #30475daa;
      box-shadow: 0 2px 2px #00000029;
    }
  }
}