.tag {
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 4px;

  &.warn {
    background-color: #ffc15d;
    color: white;
  }

  &.error {
    background-color: #c73544;
    color: white;
  }

  &.info1 {
    background-color: #3e576e;
    color: white;
  }

  &.info2 {
    background-color: #20baa9;
    color: white;
  }

  &.info3 {
    background-color: #ffc15d;
  }
}
