#titlebar {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 138px;
  grid-template-rows: 32px;
  width: 100%;
  background: #1c2935;
  color: #fff;
  top: 0;
  z-index: 1000;
  -webkit-app-region: drag;

  &-logo {
    display: flex;
    align-items: center;

    &-img {
      background-image: $newlogo;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 11px;
      width: 13px;
      margin-left: 12px;
    }

    &-lettering {
      font-family: "Roboto";
      margin-left: 4px;
      font-size: 13px;
      text-transform: uppercase;
      display: flex;
      align-items: center;
    }

    #versionnumber {
      font-family: "Roboto";
      margin-left: 4px;
      font-size: 13px;
    }
  }

  .active {
    background-color: #30475d;

    i {
      &:hover {
        background-color: #44596c;
      }
    }
  }
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  height: 100%;
  font-family: "Segoe MDL2";
  font-size: 10px;
  -webkit-app-region: no-drag;

  .button {
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 100%;
    user-select: none;
    cursor: default;
    opacity: 0.8;
    text-decoration: none !important;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      opacity: 1;
    }
  }

  #min-button {
    grid-column: 1;
  }

  #max-button,
  #restore-button {
    grid-column: 2;
  }

  #close-button {
    grid-column: 3;

    &:hover {
      background: #e81123;
    }
  }

  #restore-button {
    display: none;
  }
}
