.two-factor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #367AA5FF;

  .holder-right {
    height: 369px !important;
  }

  p {
    text-align: unset !important;
    margin-top: unset !important;
    height: unset !important;
  }

  ol {
    list-style: unset;
    margin-left: 17px;
    width: 300px;

    li {
      list-style: decimal;
      margin-bottom: 25px;
    }
  }

  .universalCoverButton {
    align-self: flex-end;
    position: absolute;
    bottom: 80px;
    right: 120px;

    div {
      width: 80px;
    }
  }
}

#two-factor-form {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    text-align: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background: #F5F5F5FF;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14);
    outline: none;
    border: 0;
    margin: 0 8px;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }
  }
}

.password-recovery {
  @extend .dataGeneralForm;

  .holder-right {
    width: 342px;
    margin-left: 0;
  }

  #two-factor-form {
    margin-top: 46px;

    input {
      width: 32px;
      height: 32px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}