$app-logo:                  url(../images/logo-full-aaa-ai.svg);
$sidebar-background:        #333;
$sidebar-width:             15em;
$fullWorking-background:    #f5f5f5;
$vipfy-red:                 #c1272d;
$feedback:                  rgba(#c1272d, 0.57);
$hover:                   #a12a20;
$deleted-color:           #b5a0a7;