@import './constants.scss';

#domains {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

.register-domain {
  @include vipfy-button(5px);
  align-self: flex-end;
  max-width: 130px;
  min-height: 26px;
}

.domain-table {
  margin-top: 2em;
}

.domain-header {
  @include flex-system(center, space-around)
  background-color: #ffeedb;
  border-bottom: 2px solid #e0e0e0;
  font-weight: bold;

  span {
    &:nth-child(2) {
      text-align: center;
    }
  }
}

.domain-header-item {
  max-width: 170px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.domain-row {
  @extend .domain-header;
  background-color: #fff;
  font-weight: normal;
  min-height: 3em;

  &:hover {
    background: #ffeedf;
  }
}

.domain-item {
  @extend .domain-header-item;

}


.domain-item-icon {
  @extend .domain-item;
  cursor: pointer;
  text-align: center;
}
