@import './constants.scss';

.generic-form {
  display: flex;
  flex-direction: column;
  height: calc(100% - 2em);
  justify-content: space-between;
}

.generic-dropdown {
  background: $vipfy-red;
  border: 0;
  color: #fff;
  margin-left: 1em;
  outline: none;
  padding: 5px 0;
  width: 30%;
}

.generic-input-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  margin-top: auto;
}

.generic-error {
  color: red;
  margin-top: 3rem;
  text-align: center;

  &-field {
    color: red;
  }
}

.generic-input-error {
  color: red;
  font-style: italic;
  font-weight: bold;
  margin-left: auto;
}


.generic-async-error {
  @extend .generic-error;
  align-self: center;
  margin-left: 0;
}

.generic-cancel {
  @include generic-button($vipfy-red, $hover, $feedback)
}

.generic-submit {
  @include generic-button(rgb(97, 203, 40), rgb(21, 107, 30), rgb(137, 230, 100))
}

.generic-submitting {
  margin-top: 3rem;
  text-align: center;
}

.generic-searchbar {
  align-items: center;
  display: flex;
  line-height: 2em;

  &:focus {
    background-color: #f5f5f5;
  }
}

.card-element {
  margin-left: 4px;
}

.dropzone {
  border-color: rgb(102, 102, 102);
  border-radius: 5px;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  float: none;
  height: 200px;
  margin: 0 auto;
  width: 200px;

  &:hover,
  &-active {
    border-style: solid;
  }

  &-preview {
    @extend .dropzone;
    border-style: none;

    &:hover {
      border-style: none;
    }
  }
}
