@import './constants.scss';
@import './buttons.scss';
@import './forms.scss';
@import './popup.scss';
@import './app-accordion.scss';
@import './creditCards.scss';
@import './domains.scss';
@import './messages.scss';
@import './profile.scss';

/*::-webkit-scrollbar {
  width: 0.5em;
  background: #aaa;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: $vipfy-primary;
  outline: 1px solid slategrey;
  border-radius: 10px;
}*/

.confirmation-dialog {
  padding: 1rem;

  h1 {
    padding-top: 0;
  }
}

.star {
  cursor: pointer;
  color: #d5d92a;
}

.pending {
  background: #e8c8c8;
}

#App {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 100%;
}

.full-size {
  height: 100%;
  width: 100%;
}

.centralize {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.login-holder {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-image: url('../images/vipfy-logo_hell.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /*border: 1px solid #771a1c;
  box-shadow: inset 2px 2px 10px 2px #aaa;*/
  font-size: 1.5em;
  padding: 1em;
  width: 25rem;

  background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    z-index: 2;
}

.button-new-user{
    background-color: #ddd;
    padding: 0.5rem !important;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    border-radius: 0px 0px 10px 10px;
}
.button-already{
    background-color: #ddd;
    padding: 0.5rem !important;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    border-radius: 10px 10px 0px 0px;
}

/*label {
  display: block;
  font-weight: 300;
}*/

.form-heading {
  font-weight: 500;
  line-height: 2em;
  text-align: center;
  text-shadow: 0 0 5px white;
}

.inputField {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #aaa;
  border: 0;
  font-size: 0.75em;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 0.6em;
  padding: 5px;
  width: 20em;

  &:focus {
    border-bottom: 2px solid #771a1c !important;
    outline: 0;
    padding-bottom: 4px !important;
  }
}

.formError {
  background-color: #771a1c;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
}

.noError {
  opacity: 0;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.oneError {
  opacity: 1;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.navigation{
    /*background-color: #333;
    background: linear-gradient(#333 0%, #222 50%);*/
    height: 3em;
    /*color: white;*/
    display: flex;
    justify-content: space-between;
    background-color: #fff !important;
    box-shadow: 0 0 10px #e8e8e8;
    margin-left: 3rem;
    position: relative;
    z-index: 200;
}
.navigationButton{
    font-size: 2em;
    line-height: 1em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.navigationButton:hover{
    color: #771a1c;
    background-color: white;
}
.searchbar {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 5px;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    height: 1.5em;
    background-color: transparent;
}
.searchbarHolder {
    align-items: center;
    display: flex;
    line-height: 2em;
    margin: 0.5rem;
    margin-left: 1rem;

    &:focus {
      background-color: #f5f5f5;
    }
}
.searchbarButton {
    display: inline;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    cursor: pointer;
    line-height: 1em;
    transform: rotateY(180deg);
}
.searchbarFocus{
    background-color: #f5f5f5;
}
.navigationButtonHolder{
    display: flex;
}
.navigationLogoHolder{
    width: 4em;
    overflow: hidden;
}
.navigationLogo{
    height: 6em;
    border: 0px;
    border-radius: 0px;
    position: relative;
    top: -1em;
    left: -1em;
    cursor: pointer;
}
.appLogoHolder{
    display: flex;
}

.appLogo {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  height: 3em;
  padding: 0.5em;
  width: 3em;

  &:hover {
    background-color: #771a1c;
  }
}

.centerText {
  display: flex;
  justify-content: center;
}

.inspirationalText {
  color: rgb(141, 0, 0);
  font-size: 1.5rem;
}

.legalText {
    font-size: 0.7rem;
}

.loadingTextBlock {
    position:relative;
    top:70%;
    width: 100%;
}

.mainPosition {
    /*position: absolute;
    top: 3em;
    left: 3rem;
    width: calc(100% - 15em);
    height: calc(100vh - 3em);*/
}
.newMainPosition{
    height: calc(100vh - 3em);
}

.pic-and-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-screen {
  /*background-color: #fff;*/
  background-image: url('../images/loading.gif');
  background-repeat: no-repeat;
  background-position: center center;
  /*max-height: 15rem;
  margin-bottom: 4rem;*/
  height: 100%;
  width: 100%;
}

.welcomeHolder{
  padding: 5em;
}

.welcomeImage{
    height: 7em;
    width: 7em;
    background-size: cover;
    margin: auto;
    margin-bottom: 2em;
}
.welcomeMessage{
    display: flex;
    font-size: 2em;
    justify-content: center;
}
.useableApps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.useableAppsTitle{
    width: 20em;
    height: 20em;
    display: flex;
    text-align: center;
    align-items: center;
    /*border: 5px solid #333;*/
}

.useableAppsLogo{
    width: 20em;
    height: 20em;
    /*border: 5px solid #333;*/
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position: center;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px #e8e8e8;
}

.recommendedApps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}

.recommendedAppsTitle{
    width: 7em;
    height: 7em;
    display: flex;
    text-align: center;
    align-items: center;
    border: 5px solid #771a1c;
}

.recommendedAppsLogo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 5px solid #771a1c;
  cursor: pointer;
  height: 7em;
  position: relative;
  width: 7em;
}

.useable-service-name {
  background-color: #333;
  bottom: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.recommended-service-name {
  background-color: #771a1c;
  bottom: 0;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  position: absolute;
  text-align: center;
  width: 100%;
}

.full-working {
  /*background: linear-gradient(to right, #ddd 0%, #fff 20%, #FFF 80%, #ddd 100%);*/
  background-color: $fullworking-background;
  height: calc(100vh - 3rem);
  margin-left: 3rem;
  overflow-y: scroll;
  transition: margin-left 0.6s ease-in-out;
}

.marginLeft {
  margin-left: 3rem;
  height: 100%;
}

.side-bar-open {
  margin-left: $sidebar-width;
  transition: margin-left 0.6s ease-in-out;
}

.backgroundLogo{
    /*background: linear-gradient(to right, #ddd 0%, #fff 20%, #FFF 80%, #ddd 100%)*/
    background-image: radial-gradient(farthest-corner at 0px 100%, #20BAA9 0%, #117f91 100%);
}

.editHolder{
    margin: auto;
    max-width: 40em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.editSquare{
    height: 2em;
    width: 2em;
    position: relative;
    font-size: 4em;
    background-color: #333;
    cursor: pointer;
    border: solid 5px #333;
}

.editLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2em !important;
    text-align: center !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.editExplain {
    position: absolute;
    bottom: 0em;
    font-size: 0.3em;
    text-align: center;
    width: 100%;
    left: 0;
    color: white;
    background-color: #333;
    font-weight: bold;
}

.editSettingForm {
    min-height: 4em;
    width: 16em;
    font-size: 2em;
    border: 5px solid #333;
    text-align: center;
}

.editSettingLabel{
    margin-top: 0.5em;
}

.editSettingInput{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    font-style: italic;
    margin-bottom: 0.6em;
    border: 0;
    width: 20em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    padding: 5px;
    width: 8em;
}

.editSettingInput:focus{
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
}

.editActive{
    border: 5px solid #771a1c;
}

.marketplace{
    display: flex;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    min-width: 40em;
}

.appThumbnail{
  width: 20%;
  margin: 2.5%;
  background-color: white;
  box-shadow: 2px 2px 10px #ddd;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    box-shadow: 2px 2px 10px rgba(0,0,0,0.36);
  }
}


.app-thumbnail-logo {
  width: 90%;
  height: 4em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5%;
}

.caption{
    margin: 5%;
}

.appdiscripton {
    max-height: 6em;
    overflow: hidden;
}
.paddingPage{
    padding: 5vh 10%;
    height: calc(90vh - 4rem);
}
.appHeaderHolder {
    display: flex;
    margin-bottom: 3em;
}
.appLogoLarge{
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
}
.halfStarHolder{
    position: relative;
}
.secondHalfStar{
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    top: 2px;
}
.appHeaderShortHolder {
    text-align: center;
    width: 20%;
    box-shadow: 2px 2px 10px #aaa;
    background-color: white;
}
.appHeaderLink{
    color: #771a1c;
    text-decoration: underline;
    line-height: 2em;
    cursor: pointer;
}
.appHeaderLink:hover{
    box-shadow: inset 2px 2px 5px #aaa;
}
.appHeaderStars{
    line-height: 2em;
}
.appHeaderImportantLink{
    background-color: #771a1c;
    text-decoration: underline;
    line-height: 2em;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.appHeaderImportantLink:hover {
    box-shadow: inset 2px 2px 5px #771a1c;
    background-color: #C32B2E;
}
.appGallery  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galleryImage {
    width: 20%;
    margin: 2.5%;
    text-align: center;
}
.galleryView {
    max-height: 30em;
    max-width: 100%;
    cursor: pointer;
}
.galleryBig {
    width: 80%;
}
.detail-fulldescription{
	padding: 20px;
	max-height: 500px;
	position: relative;
	overflow: hidden;
}
.detail-fulldescription-showmore{
	position: absolute;
	top: 450px;
	width: calc(100% - 40px);
}
.detail-fulldescription-full{
	max-height: 100000px;
}
.detail-fulldescription-showmore-full{
	display: none;
}
.planHolder {
    /*display: flex;
    justify-content: center;*/
    overflow-x: scroll;
    margin-top: 2rem;
    background-color: white;
    /*border-radius: 3px;*/
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    border-radius: 10px;
}
.planSingleHolder {
    width: 30%;
    /*margin: 1em;*/
    text-align: center;
    background-color: white;
    /*box-shadow: 2px 2px 10px #aaa;
    border: 1px solid #771a1c;*/
    position: relative;
    /*padding-bottom: 2em;*/
    min-width: 11em;
}
.planHeader {
    padding: 0.5em;
}
.planTitle {
    font-size: 1.5em;
    font-weight: bold;
}
.planNumberSelector {
    text-align: center;
    margin-bottom: 2em;
}
.planNumberSelectorInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: calc(0.6em + 1px);
    font-weight: 500;
}
.planNumberSelectorInput:focus{
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
    margin-bottom: 0.6em;
}
.planNumberSelectorLabel {
    font-size: 1.5em;
}
.planPriceBefore{
    font-size: 0.75em;
}
.billInput:focus {
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
    margin-bottom: 0.6em;
}
.billInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: calc(0.6em + 1px);
    font-weight: 500;
    width: 2em;
}
.planCosts {
    background-color: #771a1c;
    /*position: absolute;*/
    bottom: 0px;
    line-height: 1.5em;
    color: white;
    width: 100%;
    cursor: pointer;
}
.detail-comments{
	padding: 1em;
}
.detail-comments-heading{
}
.detail-comments-holder{

}
.detail-comments-oversizeholder{
	display: flex;
	align-items: center;
	overflow-x: auto;
}
.detail-comments-stars{
	padding: 5px;
}
.detail-comments-stars-bignum{
	font-size: 2em;
	text-align: center;
}
.detail-comments-stars-holder{
}
.detail-comments-section{
	display: flex;
	min-width: 200px;
	flex-direction: column;
	flex-wrap: wrap;
	height: 300px;
}
.detail-comment{
	padding: 10px;
	max-width: 250px;
	overflow: auto;
}
.detail-comment-author{
	font-style: italic;
	font-size: 12px;
}
.detail-comment-date{
	font-style: italic;
	font-size: 12px;
}
.detail-comment-text{
	word-wrap: break-word;
	text-align: left;
}
.detail-informations{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.detail-information-holder{
	padding: 10px;
}

.area{
    height: 100%;
}
.goToMarketplace {
    font-size: 0.5em;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
}
.advisorInputHeading {
    font-size: 2rem;
    text-align: center;
    line-height: 1.5em;
}
.advisorInputInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: 1px;
    font-weight: 500;
    width: calc(100% - 0.4em);
    margin-top: 1em;
}
.advisorInputInput:focus {
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    margin-bottom: 0px;
}
.advisorNext {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
}

.advisorHolder {
    font-size: 1.5em;
    padding: 1em;
    border: 1px solid #771a1c;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    box-shadow: inset 2px 2px 10px 2px #aaa;
    /*width: 25rem;*/
}
.advisorSkip {
    text-align: center;
}
.advisorOptionHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
}
.advisorOption {
    line-height: 2em;
    padding: 0.5em;
    background-color: #eee;
    cursor: pointer;
    border: 1px solid #771a1c;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.registerInfo {
    font-size: 0.6em;
    line-height: 2em;
}
/*fonts

    font-family: 'Dosis', sans-serif;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Quicksand', sans-serif;

*/

.sidebar {
  background-color: $sidebar-background;
  height: 100vh;
  position: fixed;
  transition: width 0.6s ease-in-out;
  width:  $sidebar-width;
  z-index: 300;

  &-logo {
    background-image: $app-logo;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    margin: 0.5rem;
  }

  &-link {
    cursor: pointer;
    display: flex;
    list-style: none;
    padding: 0.5rem;
    padding-left: 1rem;

    &:hover {
      background-color: #111;
    }

    &-holder {
      -webkit-margin-after: 0;
      -webkit-margin-before: 0;
      -webkit-padding-start: 0;
      color: #fff;
      overflow: hidden;
      padding-top: 2em;
    }

    &-important {
      margin-bottom: 1.5em;
      margin-top: 1.5rem;
    }

    &-caption {
      opacity: 100;
      padding-left: 1em;
      transition: all 0.6s ease-in-out;
    }
  }
}

.show-not {
  font-size: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.6s ease-in-out;
}

.service-logo-small {
    height: 1em;
    width: 1em;
    padding: 0rem !important;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background-position: center;
}

.sidebar-icons {
  text-align: center;
  width: 1em;
}

.chatBar {
    width: 15rem;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 300;
    background-color: #333;
    height: 100vh;
}

.chat-open {
  margin-right: 15rem;
}

.right-infos {
  display: flex;
  flex-flow: row nowrap;
}

.navigation-right-infos{
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  cursor: pointer;
}

.right-profile-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  cursor: pointer;
  margin: 0.5rem;
  position: relative;
}

.right-profile-image {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  background-color: #eee;
}

.right-profile-first-name {
  font-size: 0.8rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
}

.right-profile-last-name {
  font-size: 0.9rem;
  padding-top: 0.1rem;
  font-weight: bold;
}

.right-profile-notifications {
  color: #fff;
  font-size: 0.8rem;
  background-color: #ffc247;
  font-weight: 700;
  height: 1.55rem;
  line-height: 1.55rem;
  width: 1.55rem;
  text-align: center;
  border-radius: 2rem;
}

.right-profile-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 0.3rem dashed;
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  margin-left: 0.3rem;
}

.notificationPopup{
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    background-color: white;
    top: 2.5rem;
    right: 0;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
    cursor: default;
}

.notificationPopupFooter {
    padding: 0.75rem 1.25rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.03);
}

.notificationPopupHeader {
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: rgba(0,0,0,0.03);
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
}

.notification-item {
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 0.75rem 1.25rem;
  position: relative;
  margin-bottom: -1px;
  display: flex;
  flex-wrap: wrap;

  &:hover {
    background: #eee;
  }

  &:active {
    background: $vipfy-primary;
  }
}

.bug {
  color: red;
}

.notification-icon {
  color: #3abf94;
  margin-right: 0.5rem;
  font-size: 1.5rem;
  width: 2rem;
  text-align: center;
}

.notificationText {
    margin: 0;
    font-size: 0.75rem;
    width: calc(100% - 2.5rem);
}
.notificationTime {
    width: calc(100% - 2.5rem);
    margin-left: 2.5rem;
    font-size: 0.6rem;
}
.notificationPopupScroller {
    max-height: 15rem;
    overflow-y: auto;
}
.dashboard-working {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: 100%;
    /*justify-content: space-between;*/
}
.welcomeTile{
    margin: 2.5%;
    width: 25%;
    min-width: 10rem;
    max-width: 15rem;
    min-height: 20rem;
    background-color: #333 !important;
    color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.welcomeIcon {
    text-align: center;
    width: 100%;
    color: #ffc247;
    font-size: 4rem;
    line-height: 6rem !important;
}
.welcomeText {
    display: block;
    padding: 2rem;
    padding-top: 0;
}
.welcomeSentence {
    padding: 1rem;
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: calc(100% - 2rem);
}
/*.appsTile {
    min-width: 60%;
    max-width: calc(92.5% - 15rem);
    margin: 2.5%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
}
.logoAppsTile {
    margin: 1rem;
    min-height: 8rem;
    min-width: 8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 4rem #f0f3ff;
    cursor: pointer;
    position: relative;
}
.logoAppsTile:hover{
    background-color: #f8f9fa;
}
.nameAppsTile {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}*/
.serviceTile {
    min-width: 5rem;
    max-width: 15rem;
    margin: 2.5%;
    background-color: white;
    width: 25%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.serviceTileHeader {
    background-color: #ffc247 !important;
    padding: 2rem;
    min-height: 6rem;
}
.serviceTileHeaderText {
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}
.serviceUserHeader {
    margin-top: -1.6rem;
    border-bottom: 0.5rem solid transparent;
}
.serviceUserIconBackground {
    margin-left: 1rem;
    float: left;
    margin-right: 0.5rem;
}
.serviceUserIcon {
    width: 3rem;
    border-radius: 2rem;
    border: 0.2rem solid white;
}
.serviceUserName {
    font-size: 0.8rem;
    display: block;
    line-height: 2rem;
    color: white;
    font-weight: bold;
}
.serviceTime {
    font-size: 0.6rem;
}
.serviceText {
    padding: 1rem;
}
.barIcon {
    margin: 1rem;
    cursor: pointer;
}
.leftNavigation{
    display: flex;
}

.sidebar-small {
  background-color: #333;
  height: 100vh;
  position: fixed;
  transition: width 0.6s ease-in-out;
  width: 3rem;
  z-index: 300;
}

.informationTile {
    min-width: 5rem;
    max-width: 15rem;
    margin: 2.5%;
    background-color: #547fff;
    width: 25%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    color: white;
}
.informationTileHeader {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.informationText {
    padding: 1rem;
    bottom: 0;
    /*position: absolute;*/
}
.currentPaymentHolder {
    width: 40%;
}
.nextPaymentHolder {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.nextPaymentChart {
    width: 100%;
    height: 10rem;
}
.historyPaymentHolder {
    width: 60%;
}
.billingStreamChart {
    height: 20rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.paymentDataHolder {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.paymentCreditCardLabel {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.paymentAddressLabel {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.paymentAddressName {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 2rem;
}
.paymentAddressStreet {
    display: block;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: bold;
    padding-left: 2rem;
}
span.paymentAddressCity {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}
span.paymentAddressEMail {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}
span.paymentAddressPhone {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}

.billingHistoryInvoices{
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.informationGraph {
    max-width: 30rem;
    margin: 2.5%;
    background-color: #fff;
    width: 50%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    color: #333;
}
.informationGraphHeader {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.informationGraphHeader {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.informationGraphContent {
    width: 100%;
    height: 15rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.appBreadCromp {
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
}
.appBreadCrompNoLink {
    color: #798892;
    margin-bottom: 1.5rem;
}
.appBreadCrompLink {
    font-weight: 600;
    cursor: pointer;
}
.appHeader {
    display: flex;
    height: 20rem;
    margin-bottom: 3rem;
    /*box-shadow: 0 0 4rem #f0f3ff;*/
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    overflow: hidden;
}
.appHeaderGallery {
    width: calc(100% - 15rem);
    background-size: cover;
    background-position: center;
    position: relative;
}
.appHeaderInfos {
    width: 15rem;
    background-color: white;
    position: relative;
}
.appHeaderStars {
    line-height: 2em;
    padding: 1rem;
}
.appHeaderName {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    text-transform: uppercase;
}
.appHeaderType {
    color: #798892;
    padding-left: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}
.appHeaderPriceHolder {
    position: absolute;
    bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
}
.appHeaderSelectDepartment {
    position: relative;
    padding: 0.5rem;
    background-color: #e9ecef;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: .25rem;
    border: 1px solid #e9ecef;
    margin-top: 0.25rem;
}
.appHeaderSelectDepartmentOptionHolder {
    position: absolute;
    display: none;
}
.appHeaderBuyButton {
    position: relative;
    padding: 0.5rem;
    /*background-color: #3abf94;*/
    /*background-image: linear-gradient(to right, #20BAA9 0%, #117f91 100%);*/
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: 3px;
    /*border: 1px solid #3abf94;*/
    background-color: #20BAA9;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    margin-top: 0.25rem;
    color: white;
    font-weight: bold;
}
.appHeaderSelectPlan {
    position: relative;
    padding: 0.5rem;
    background-color: #e9ecef;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: .25rem;
    border: 1px solid #e9ecef;
    margin-top: 0.25rem;
}
.appHeaderSelectPlanOptionHolder {
    position: absolute;
    display: none;
}
.caretApp{
    /*margin-left: 1rem;*/
    float: right;
}

.appDescrition {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    min-height: 15rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
    background-image: radial-gradient(farthest-corner at 0px 100%, #20BAA9 0%, #117f91 100%);
    color: white;
}
.appDescriptionThird {
    width: 30%;
    padding: 1rem;
}
.appDescriptionHeading {
    font-size: 1.15rem;
    font-weight: bold;
    text-transform: uppercase;
}
.appDescriptionLink{
    cursor: pointer;
    text-decoration: underline;
}
.appHeading {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
}
.rcLogoAppsTile {
    margin: 1rem;
    min-height: 4rem;
    min-width: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem #f0f3ff;
    cursor: pointer;
    position: relative;
}
.galleryDots {
    position: absolute;
    width: 100%;
    bottom: 0.25rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallyDot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.3);
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border: 1px solid rgba(0,0,0,0.5);
  cursor: pointer;
}
.gallyDot:hover{
  background-color: rgba(255,255,255,0.5);
}
.gallyDotActive{
  background-color: rgba(255,255,255,0.5);
}
.galleryLeft {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15%;
    line-height: 20rem;
    padding-left: 1rem;
    background-image: linear-gradient(to left, transparent 0%, #333 100%);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}
.galleryRight {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    line-height: 20rem;
    padding-right: 1rem;
    text-align: right;
    background-image: linear-gradient(to right, transparent 0%, #333 100%);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}
.galleryLeft:hover{
    opacity: 1;
}
.galleryRight:hover{
    opacity: 1;
}
.UMS {
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.departmentHolder {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.departmentIcon {
    height: 3rem;
    width: 3rem;
    background-color: #547fff;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.departmentName {
    width: 8.75rem;
    line-height: 3rem;
    padding-left: 0.25rem;
    border-bottom: 1px solid #d6dee5;
    height: calc(3rem - 2px);
    border-top: 1px solid #d6dee5;
    position: relative;
}
.employeeHolder {
    border: 1px solid #d6dee5;
    width: calc(100% - 13rem);
    min-height: calc(3rem - 2px);
    display: flex;
    flex-wrap: wrap;
}
.serviceHolder {
    border: 1px solid #d6dee5;
    border-top: 0px;
    width: calc(100% - 13rem);
    height: calc(3rem - 1px);
    display: flex;
    align-items: center;
}
.addEmployee {
    margin: 0.5rem;
    height: calc(2rem - 2px);
    width: 2rem;
    text-align: center;
    background-color: #e9ecef;
    line-height: 2rem !important;
    cursor: pointer;
}
.employeeName {
    font-size: 0.75rem;
    font-weight: bold;
}
.employeeTags {
    font-size: 0.75rem;
}
.employee {
    width: 9rem;
    margin-top: 0.5rem;
    position: relative;
}
.addHolderAll{
    width: 0;
    height: 0;
    overflow: hidden;
}
.addEmployeeHolder {
    position: relative;
}
.addHolderAll {
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    background-color: white;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}
.addItem {
    height: 2rem;
    margin: 0.5rem;
}
.addName {
    line-height: 2rem;
}
.addHolderAllNone {
    display: none;
}
.employeeInfo {
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}
.employeeInfoNone {
    display: none;
}
.departmentEdit {
    float: right;
    line-height: calc(3rem - 2px) !important;
    margin-right: 0.5rem;
    cursor: pointer;
}
.departmentAddInfoNone{
    display: none;
}
.departmentAddInfo{
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}

/*.PApp {
    width: 9rem;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}*/
.addHolder{
    max-height: 10rem;
    overflow-y: scroll;
}

.subaddholder-holder{
    position: relative;
}
.subaddholder{
    position: absolute;
    top: -1rem;
    left: 15rem;
    background-color: white;
    z-index: 1000;
    min-width: 15rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    max-height: 10rem;
    overflow-y: scroll;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.periodSwitch > .Selected{
    background-color: red;
}
.planHeaderHolder{
    display: flex;
    justify-content: center;
}
.planFeatureHolder{
    display: flex;
    justify-content: center;
}
.planFeature{
    width: 30%;
    min-width: 11rem;
}
.pFeature{
    height: 3rem;
    display: flex;
    align-items: center;
}
.planFeatureHeader{
    text-align: center;
    line-height: 2rem;
}
select{
    background-color: transparent;
    border: none;
    width: 100%;
    color: #333;
    font-family: "Quicksand";
    border-bottom: 1px solid #20BAA9;
}
select:focus{
    outline: none;
}
option{
    border: none;
}
.optionsHolder{
    display: flex;
    width: 100%;
    height: 100vh;
}
.optionsSidebar{
    width: 20rem;
    background-color: #357AA5;
    overflow: auto;
}
.optionsExplainBlock {
    width: calc(50% - 10rem);
    display: flex;
    align-items: center;
    background-color: #eee;
}
.optionsFormularBlock {
    width: calc(50% - 10rem);
    display: flex;
    align-items: center;
}
.optionsExplainTextHolder{
    margin: 5rem;
}
.optionsExplainIconHolder{
    font-size: 5rem;
    color: #357AA5;
}
.optionsExplainHeading{
    line-height: 5rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: #357AA5;
    font-weight: bold;
}
.inputBox {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid #aaa;
    min-width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2rem;
    position: relative;
}
.inputBoxTitle {
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.inputBoxField {
    width: 100%;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: #357AA5;
}
.inputBoxField:focus{
    outline: none;
}
.tabBox {
    padding: 0.25rem;
    min-width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.tab {
    padding: 0.25rem;
    background-color: #aaa;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    text-align: center;
}
.tab:hover{
    background-color: #3389BF;
}
.tabActive{
    background-color: #357AA5;
    color: white;
}
.journeyHolder {
    position: relative;
    margin: 2rem;
}
.journeyHeader{
    color: white;
    font-size: 1.25rem;
    text-align: center;
}
.journeyCircle{
    width: 6rem;
    border: solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
}
.journeyDoneCircle{
    width: 6rem;
    border: solid white;
    border-radius: 50%;
    text-align: center;
    color: black;
    height: 6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
    background-color: #1CA543;
}
.journeyCircle:hover{
    background-color: #3389BF;
}
.journeyLeftBottomLine{
    display: block;
    position: absolute;
    height: 2rem;
    width: 6.5rem;
    left: 3rem;
    border-bottom: dotted white;
    top: 9rem;
    border-radius: 0rem 1rem;
}
.advisorBottomPageButtonsHolder {
    display: flex;
    justify-content: space-around;
}
.advisorBottomPageButtonNext {
    border: none;
    background: none;
    background-color: #357AA5;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.inputBoxHolder{
    display: flex;
    align-items: center;
}
.inputBoxSymbol {
    padding-right: 0.25rem;
    color: #357AA5;
}
.inputBoxError {
    font-size: 0.5rem;
    position: absolute;
    right: 0;
    color: #A52C2C;
}
.inputBoxAdvisorError {
    color: #A52C2C;
    border: solid 1px #A52C2C;
    left: calc(100% + 1rem);
    position: absolute;
    top: 1.25rem;
    width: 16em;
    text-align: center;
    padding: 0.25rem;
    background-color: white;
}
.lawbox{
    overflow-y: scroll;
    height: 20rem;
}
.productPlanName{
    text-align: center;
}
.check {
    cursor: pointer;
    /*position: relative;
    margin: auto;*/
    float: left;
    width: 18px;
    height: 18px;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
  }
  .check:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(34,50,84,0.03);
    opacity: 0;
    transition: opacity 0.2s ease;
  }
  .check svg {
    position: relative;
    z-index: 1;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #c8ccd4;
    stroke-width: 1.5;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
  }
  .check svg path {
    stroke-dasharray: 60;
    stroke-dashoffset: 0;
  }
  .check svg polyline {
    stroke-dasharray: 22;
    stroke-dashoffset: 66;
  }
  .check:hover:before {
    opacity: 1;
  }
  .check:hover svg {
    stroke: #117f91;
  }
  .cbx:checked + .check svg {
    stroke: #117f91;
  }
  .cbx:checked + .check svg path {
    stroke-dashoffset: 60;
    transition: all 0.3s linear;
  }
  .cbx:checked + .check svg polyline {
    stroke-dashoffset: 42;
    transition: all 0.2s linear;
    transition-delay: 0.15s;
  }
  .lawlink{
    cursor: pointer;
    background-image: linear-gradient(to right, #20BAA9 0%, #117f91 100%);
    margin: 0.2rem;
    padding: 0.2rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: white;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.8rem;
  }
  .lawholder{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .lawheading{
    font-size: 0.9rem;
    font-weight: bold;
    display: block;
  }
  .agreementBox{
      display: flex;
      align-items: center;
      position: relative;
  }
  .agreementSentence{
    font-size: 0.8rem;
    margin-left: 0.4rem;
  }
  .checkoutButton{
    cursor: pointer;
    background-image: linear-gradient(to right, #20BAA9 0%, #117f91 100%);
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: none;
  }
  .cancelButton{
    cursor: pointer;
    background-image: linear-gradient(to right, #c73544 0%, #991b78 100%);
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
    border-radius: 3px;
    display: inline-block;
    border: none;
  }
  .agreementError{
    position: absolute;
    bottom: -1.75rem;
    border: 1px solid #c73544;
    padding: 0.1rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    border-radius: 3px;
  }
  .agreementError:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    top: -9px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 9px solid #c73544;
    border-radius: 3px;
}
.agreementError:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 2px;
    top: -7px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid white;
    border-radius: 3px;
}
.orderHeading{
    margin-bottom: 0.5rem;
}
.orderCompanyName{
    font-weight: bold;
}
.orderAddressLine{
    font-size: 0.9rem;
}
.orderAddressHolder{
    margin: 0.5rem;
}
h1{
    text-align: center;
    font-size: 25px;
    line-height: 32px;
    padding-top: 70px;
    a{
      color: #20BAA9;
    }
  }

  .price-table-wrapper{
    text-align: center;
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(5, max-content);

    .featured-table{
      box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
      h2{
      background-color: #20BAA9;
      color: white;
      }
    }

    .pricing-table{
      display: inline-block;
      border: 1px solid #C8C8C8;
      border-radius: 0.5rem;
      background: white;
      margin: 1rem;
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);

      &__header{
        padding: 1rem;
        font-size: 1rem;
        color: #909090 ;
        background: #E0E0E0;
      }
      &__starting{
          margin: 0px;
          color: #A0A0A0;
      }
      &__price{
        color: #20BAA9;
        padding: 1rem;
        margin: auto;
        font-size: 2rem;
        font-weight: normal;
      }
      &__button{
        display: block;
        background: #20BAA9;
        text-decoration: none;
        padding: 1rem;
        color: white;
        position: relative;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        line-height: 1rem;

        &:before{
            position: absolute;
            left: -20%;
            top: -25%;
            content: '';
            width: 60%;
            height: 300%;
            transform: rotate(-30deg);
            background: white;
            opacity: .3;
            transition: all 0.3s ease-in-out;
        }

         &:after{
            position: absolute;
    content: '>';
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    font-family: "Lato";
    line-height: 1rem;
          }

        &:hover{
          background: #117f91;
        }
      }
      &__list{
        padding: 1rem;
        color: #A0A0A0;
        li{
          padding: 1rem;
          border-bottom: 1px solid #C8C8C8 ;
          list-style: none;
          /*display: flex;
          justify-content: center;*/

          &:last-child{
            border: none;
          }
          .Pcaption{
            font-size: 0.9rem;
          }
          .Pvalue{
            font-size: 0.9rem;
            font-weight: bold;
            margin-left: 0.2rem;
            margin-right: 0.2rem;
          }
          .PextraHolder{
            position: relative;
            height: 1rem;
            left: 0.5rem;
              .PIvalue{
                font-size: 0.9rem;
    font-weight: bold;
    position: relative;
    top: -0.25rem;
              }
              .PEvalue{
                font-size: 0.9rem;
                font-weight: bold;
                position: relative;
                top: -0.5rem;
              }
          }
        }
      }

      &:hover{
        box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.7);
        cursor: pointer;

        .pricing-table__button{
          padding-left: 0;
          padding-right: 35px;
         &:before{
            top: -80%;
            transform: rotate(0deg);
            width: 100%;
          }
          &:after{
            opacity: 1;
            padding-right: 15px;
          }
        }
      }
    }
  }
  .checkOrderHolder{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 1rem;
    grid-column-gap: 5%;
    height: calc(100% - 2rem);
    position: relative;

    .checkOrderFeatures{
        .productInfoHolder{
            text-align: center;

            .productPlanName{
                font-size: 0.9rem;
                font-weight: bold;
            }
        }
        .featureList{
            list-style: none;
            padding: 0;
            margin: 0;
            font-size: 0.9rem;
            margin-top: 1rem;

            li{
                margin-bottom: 0.5rem;
            }

            .Pvalue{
                font-weight: bold;
            }
        }
    }

    .checkOrderMain{
        position: relative;

        .checkOrderHolderButton{
            text-align: right;
          }
    }
}

.orderSelect{
    border-top: 1px solid black;
    padding-top: 0.5rem;

    .OHeading{
        display: flex;
        justify-content: space-between;
    }

  .OOptions{
      margin-top: 0.5rem;
      font-weight: bold;
  }

  .featureBuy{
      list-style: none;
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      margin-top: 1rem;

      li{
          margin-bottom: 0.5rem;
          display: flex;
          justify-content: space-between;

          .Pcaption{
              float: left;
          }
          .inputNew{
              width: 4rem;
              border: none;
              border-bottom: 1px solid #20BAA9;
              text-align: center;
              font-family: 'Montserrat', sans-serif !important;
              margin-left: 0.5rem;
          }
      }
  }
  .totalprice{
      border-top: 1px solid black;
      text-align: right;
      padding-top: 0.25rem;
      font-weight: bold;
  }
}
.orderInformationHolder{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}
.changeInformation{
  span{
      font-size: 0.7rem;
      text-decoration: underline;
      margin: 0.2rem;
  }
}
.acceptLicenceHolder{
    padding: 3rem;
    .checkOrderHolderButton{
        position: absolute;
        right: 3rem;
    }
}
.teamHolder{
    padding: 2rem;
    .companyHeader{
        display: flex;
        justify-content: center;
        .companyLogo > img{
            height: 5rem;
            padding: 2.5rem;
        }
        .companyName{
            line-height: 10rem;
            font-size: 2rem;
        }
    }
    .companyEmployees{
        .Cemployee{
            display: flex;
            justify-content: start;
            margin-bottom: 2rem;
            border: 1px solid #C8C8C8;
            border-radius: 3px;
            .infoHolder{
                width: 10rem;
                text-align: center;
                background-color: white;
                border-radius: 3px;
                height: 8rem;
                cursor: pointer;
                .picutre{
                    margin: 0.5rem;
                    img{
                        max-height: 5rem;
                        max-width: 10rem;
                    }
                }
            }
            .apps{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: 1rem;
                flex-wrap: wrap;
                flex-direction: column;
                height: 8rem;
                .EApp{
                    width: 9rem;
                    position: relative;
                    overflow: hidden;
                    background-color: white;
                    padding: 0.25rem;
                    margin-right: 0.2rem;
                    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
                    .revokelicence{
                        cursor: pointer;
                        font-size: 0.5rem
                    }
                    img{
                        user-drag: none;
                        user-select: none;
                        -moz-user-select: none;
                        -webkit-user-drag: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                    }
                }
            }
        }
    }
}
    .availableApps{
        text-align: center;
    background-color: white;
    border-right: 1px solid;
    border-image: linear-gradient(to bottom, #20BAA9, #117f91) 0 100%;
        .appHolder{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
        .PApp{
            width: 9rem;
            position: relative;
            overflow: hidden;
            background-color: white;
            padding: 0.25rem;
            margin-bottom: 0.2rem;
            cursor: move;
            box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
            text-align: left;
            img{
                user-drag: none;
                user-select: none;
                -moz-user-select: none;
                -webkit-user-drag: none;
                -webkit-user-select: none;
                -ms-user-select: none;
            }
            .explain{
                font-size: 0.6rem;
            }
        }
        .heading{
            font-size: 0.8rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 3rem;
        }
    }
.addEmployeeHolderP{
    text-align: center;
    padding: 2rem;
    .heading{
        font-size: 0.8rem;
        padding-bottom: 1rem;
        display: inline-block;
    }
    .field{
        display: grid;
        grid-template-columns: 0.8fr 0.8fr 0.4fr;
        margin-bottom: 1rem;
        position: relative;
        .emailError{
            position: absolute;
            font-size: 0.8rem;
            border: 1px solid red;
            padding: 0.25rem;
            border-radius: 3px;
        }
    }
    .label{
        margin-right: 1rem;
        text-align: right;
    }
    div > .inputBoxField{
        border-bottom: 1px solid;
        padding: 0px;
    }
}
.appsTile{
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .logoAppsTile {
        margin: 1rem;
        min-height: 10rem;
        min-width: 10rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        /*background-color: white;*/
        border-radius: 3px;
        box-shadow: 0 0 4rem #f0f3ff;
        cursor: pointer;
        position: relative;
        .nameAppsTile {
            position: absolute;
            bottom: -1rem;
            width: 100%;
            text-align: center;
            font-size: 0.8rem;
        }
        &:hover{
            box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
            background-color: white;
        }
    }
}
.dashboardHeading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    div{
        font-size: 1.2rem;
        font-weight: bold;
    }
}
.addEmployeeButton{
    background-image: linear-gradient(to right, #20BAA9 0%, #117f91 100%);
    color: white;
    width: 10rem;
    text-align: center;
    border-radius: 3px;
    height: 2rem;
    cursor: pointer;
    line-height: 2rem;
    &:hover{
        box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    }
}
.teamPageHolder{
    display: grid;
    grid-template-columns: 1fr 5fr;
    height: 100%;
}
.spinner {
    float: left;
    position: relative;
  }

  .double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #117f91;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }

  .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: #20BAA9;
  }

  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }

  @keyframes sk-bounce {
    0%, 100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
.noApp{
    margin-top: 1rem;
}
.presideHolder{
    width: 40rem;
    height: 20rem;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.36);
    .lsrlHolder{
        width: 80rem;
        height: 20rem;
        position: relative;
        left: 0rem;
        transition-duration: 0.6s;
        transition-timing-function: cubic-bezier(0.77, 0.2, 0.04, 0.81);
        &_Register{
            left: -40rem;
        }
        .partHolder{
            float: left;
            width: 40rem;
            position: relative;
            height: 20rem;
            z-index: 2;
        }.formError{
            position: absolute;
            width: 40rem;
            bottom: 0;
            background-color: #c73544;
        }
        .seperatorHolder{
            width: 0;
            height: 0;
            border-left: 20rem solid transparent;
            border-right: 20rem solid transparent;
            border-top: 20rem solid #20BAA9;
            position: absolute;
            left: 20rem;
        }
        .logoSeperator{
            position: absolute;
            left: 33rem;
            top: 2rem;
            font-size: 5rem;
            color: white;
            width: 5rem;
            height: 5rem;
            background-image: $newlogo;
            background-repeat: no-repeat;
            background-position: center;
            transition-duration: 0.6s;
            transition-timing-function: cubic-bezier(0.77, 0.2, 0.04, 0.81);
            transform: rotateY(180deg);
            &_Right{
                left: 42rem;
                transition-duration: 0.6s;
                transition-timing-function: cubic-bezier(0.77, 0.2, 0.04, 0.81);
            }
        }
        .partHeading{
            &_Login{
                position: absolute;
                top: 3rem;
                left: 3rem;
                font-size: 1.5rem;
            }
            &_Register{
                position: absolute;
                top: 3rem;
                left: 20rem;
                font-size: 1.5rem;
                text-align: center;
                span{
                    font-size: 0.75rem;
                }
            }
        }
        .partForm{
            position: absolute;
            &_Login{
                left: 3rem;
                top: 9rem;
            }
            &_Register{
                right: 3rem;
                text-align: right;
                top: 7.5rem;
            }
            .newInputField{
                border: 0;
                font-size: 0.75em;
                font-style: italic;
                font-weight: 500;
                padding-left: 0.2rem;
                padding-right: 0.2rem;
                width: 20em;
                margin-left: 0.5rem;
                border-bottom: 1px solid #20BAA9;

                &:focus{
                    outline: 0;
                }
            }
            .forgotPW{
                position: absolute;
                font-size: 0.5rem;
                margin-top: 0.25rem;
                right: 0px;
                cursor: pointer;
                text-decoration: underline;
            }
        }
        .partButton{
            margin-top: 3rem;
            display: inline-block;
            padding: 0.5rem;
            border-radius: 3px;
            background-color: #117f91;
            color: white;
            box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
            cursor: pointer;
            &_ToRegister{
                width: 5rem;
                height: 1.19rem;
                text-align: center;
                position: absolute;
                bottom: 0;
                right: 0;
                padding: 0.5rem;
                border-radius: 3px;
                background-color: #20BAA9;
                color: white;
                box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
                cursor: pointer;
                display: flex;
    align-items: center;
    justify-content: center;
            }
            &_Next{
                position: absolute;
                bottom: 0;
                right: 1rem;
                padding: 0.5rem;
                border-radius: 3px;
                background-color: #20BAA9;
                color: white;
                box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
                cursor: pointer;
            }
            &_ToLogin{
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 0.5rem;
                border-radius: 3px;
                background-color: #117f91;
                color: white;
                box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
                cursor: pointer;
            }
        }
        .step{
            width: 0.5rem;
            height: 0.5rem;
            background-color: #FFFFFF11;
            border: 1px solid white;
            border-radius: 1rem;
            top: 10rem;
            position: absolute;
            left: 7rem;
            &active{
                background-color: white;
            }
            &done{
                /*background-color: #117f91;*/
                background-color: white;
            }
        }
        .registerButtons{
            position: absolute;
            bottom: 2rem;
            width: 30rem;
            right: 2rem;
        }
        .optionHolder{
            display: flex;
            width: 25rem;
            margin-top: 0.5rem;
            text-align: center;
            justify-content: space-between;
            .option{
                padding: 0.25rem;
                margin: 0.5rem;
                border-radius: 3px;
                background-color: #20BAA9;
                color: white;
                box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.36);
                cursor: pointer;
            }
        }
    }
}

.loginspinner{
    height: 1.5rem;
    width: 1.5rem;
}
