@import './constants.scss';
@import './creditCards.scss';
@import './popup.scss';
@import './domains.scss';
@import './forms.scss';
@import './messages.scss';

@keyframes buttonMove{
    from {left:0px}
    to {left:-1000px}
}
/*@keyframes buttonMove{
    from {transform: perspective(300px) rotateY(0deg)}
    to {transform: perspective(300px) rotateY(-90deg)}
}*/

#App{
    width: 100%;
    height: 100vh;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.fullSize{
    width: 100%;
    height: 100%;
}

.centralize{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-flow: column;
}

.loginHolder{
    font-size: 1.5em;
    padding: 1em;
    border: 1px solid #771a1c;
    background-image: url(../images/vipfy-logo_hell.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    box-shadow: inset 2px 2px 10px 2px #aaa;
    width: 25rem;
}

label {
    font-weight: 300;
    display: block;
}

.formHeading {
    font-weight: 500;
    line-height: 2em;
    text-align: center;
    text-shadow: 0px 0px 5px white;
}

.inputField{
    font-weight: 500;
    font-size: 0.75em;
    font-style: italic;
    margin-bottom: 0.6em;
    border: 0;
    width: 20em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    padding: 5px;
}
.inputField:focus{
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
}
.buttonHolder{
    display: flex;
    justify-content: space-between;
}
.buttonForgot{
    font-size: 0.5em;
    margin-top: 1.2em;
}
.button{
    text-decoration: underline;
    color: #771a1c;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}
.button > span{
    display: block;
    transform-origin: -30px;
}
.button:hover{
    box-shadow: inset 2px 2px 10px 2px #888;
}
.buttonMoved{
    box-shadow: inset 2px 2px 10px 2px #888;
}
.buttonMove{
    position: relative;
    animation-name: buttonMove;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
}
.formError{
    text-align: center;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
    background-color: #771a1c;
    line-height: 2em;
}
.noError{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 0;
}
.oneError{
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    opacity: 1;
}
.navigation{
    /*background-color: #333;
    background: linear-gradient(#333 0%, #222 50%);*/
    height: 3em;
    /*color: white;*/
    display: flex;
    justify-content: space-between;
    background-color: #fff !important;
    box-shadow: 0 0 10px #e8e8e8;
    margin-left: 3rem;
    position: relative;
    z-index: 200;
}
.navigationButton{
    font-size: 2em;
    line-height: 1em;
    padding: 0.5em 0.5em;
    cursor: pointer;
}
.navigationButton:hover{
    color: #771a1c;
    background-color: white;
}
.searchbar {
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 5px;
    border: 0px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    height: 1.5em;
    background-color: transparent;
}
.searchbarHolder {
    align-items: center;
    display: flex;
    line-height: 2em;
    margin: 0.5rem;
    margin-left: 1rem;

    &:focus {
      background-color: #f5f5f5;
    }
}
.searchbarButton {
    display: inline;
    font-size: 1rem;
    padding: 5px;
    outline: none;
    cursor: pointer;
    line-height: 1em;
    transform: rotateY(180deg);
}
.searchbarFocus{
    background-color: #f5f5f5;
}
.navigationButtonHolder{
    display: flex;
}
.navigationLogoHolder{
    width: 4em;
    overflow: hidden;
}
.navigationLogo{
    height: 6em;
    border: 0px;
    border-radius: 0px;
    position: relative;
    top: -1em;
    left: -1em;
    cursor: pointer;
}
.appLogoHolder{
    display: flex;
}
.appLogo{
    width: 3em;
    border: none;
    border-radius: 0px;
    padding: 0.5em;
    cursor: pointer;
    background-color: white;
    height: 3em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.appLogo:hover{
    background-color: #771a1c;
}

.centerText {
    display: flex;
    justify-content: center;
}

.inspirationalText {
    color: rgb(141, 0, 0);
    font-size: 1.5rem;
}

.legalText {
    font-size: 0.7rem;
}

.loadingTextBlock {
    position:relative;
    top:70%;
    width: 100%;
}

.mainPosition {
    /*position: absolute;
    top: 3em;
    left: 3rem;
    width: calc(100% - 15em);*/
    height: calc(100vh - 3em);
}

#loadingScreen {
    background-color: white;
    background-image: url('../images/loading.gif');
    background-repeat:no-repeat;
    background-position: center center;
}
.welcomeHolder{
    padding: 5em;
}
.welcomeImage{
    height: 7em;
    width: 7em;
    background-size: cover;
    margin: auto;
    margin-bottom: 2em;
}
.welcomeMessage{
    display: flex;
    font-size: 2em;
    justify-content: center;
}
.useableApps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.useableAppsTitle{
    width: 20em;
    height: 20em;
    display: flex;
    text-align: center;
    align-items: center;
    /*border: 5px solid #333;*/
}
.useableAppsLogo{
    width: 20em;
    height: 20em;
    /*border: 5px solid #333;*/
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-position: center;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px #e8e8e8;
}
.recommendedApps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2em;
}
.recommendedAppsTitle{
    width: 7em;
    height: 7em;
    display: flex;
    text-align: center;
    align-items: center;
    border: 5px solid #771a1c;
}
.recommendedAppsLogo{
    width: 7em;
    height: 7em;
    border: 5px solid #771a1c;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.useableServiceName{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.recommendedServiceName{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #771a1c;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
}
.fullWorking{
    height: calc(100vh - 3rem);
    /*background: linear-gradient(to right, #ddd 0%, #fff 20%, #FFF 80%, #ddd 100%);*/
    background-color: $fullworking-background;
    overflow-y: scroll;
    margin-left: 3rem;
}
.marginLeft{
    margin-left: 3rem;
}
.SidebarOpen{
    margin-left: $sidebar-width;
}
.backgroundLogo{
    background: linear-gradient(to right, #ddd 0%, #fff 20%, #FFF 80%, #ddd 100%)
}
.editHolder{
    margin: auto;
    max-width: 40em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.editSquare{
    height: 2em;
    width: 2em;
    position: relative;
    font-size: 4em;
    background-color: #333;
    cursor: pointer;
    border: solid 5px #333;
}
.editLogo {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 2em !important;
    text-align: center !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
.editExplain {
    position: absolute;
    bottom: 0em;
    font-size: 0.3em;
    text-align: center;
    width: 100%;
    left: 0;
    color: white;
    background-color: #333;
    font-weight: bold;
}
.editSettingForm {
    min-height: 4em;
    width: 16em;
    font-size: 2em;
    border: 5px solid #333;
    text-align: center;
}
.editSettingLabel{
    margin-top: 0.5em;
}
.editSettingInput{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 0.75em;
    font-style: italic;
    margin-bottom: 0.6em;
    border: 0;
    width: 20em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    padding: 5px;
    width: 8em;
}
.editSettingInput:focus{
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
}
.editActive{
    border: 5px solid #771a1c;
}
.marketplace{
    display: flex;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
    min-width: 40em;
}
.appThumbnail{
    width: 20%;
    margin: 2.5%;
    background-color: white;
    box-shadow: 2px 2px 10px #ddd;
    cursor: pointer;
}
.appThumbnail:hover {
    box-shadow: 2px 2px 10px #771a1c;
}
.appThumbnailLogo {
    width: 90%;
    height: 4em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5%;
}
.caption{
    margin: 5%;
}
.appdiscripton {
    max-height: 6em;
    overflow: hidden;
}
.paddingPage{
    padding: 5vh 10%;
    height: calc(90vh - 4rem);
}
.appHeaderHolder {
    display: flex;
    margin-bottom: 3em;
}
.appLogoLarge{
    height: 6em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
}
.halfStarHolder{
    position: relative;
}
.secondHalfStar{
    position: absolute;
    transform: scaleX(-1);
    left: 0;
    top: 2px;
}
.appHeaderShortHolder {
    text-align: center;
    width: 20%;
    box-shadow: 2px 2px 10px #aaa;
    background-color: white;
}
.appHeaderLink{
    color: #771a1c;
    text-decoration: underline;
    line-height: 2em;
    cursor: pointer;
}
.appHeaderLink:hover{
    box-shadow: inset 2px 2px 5px #aaa;
}
.appHeaderStars{
    line-height: 2em;
}
.appHeaderImportantLink{
    background-color: #771a1c;
    text-decoration: underline;
    line-height: 2em;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
.appHeaderImportantLink:hover {
    box-shadow: inset 2px 2px 5px #771a1c;
    background-color: #C32B2E;
}
.appGallery  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.galleryImage {
    width: 20%;
    margin: 2.5%;
    text-align: center;
}
.galleryView {
    max-height: 30em;
    max-width: 100%;
    cursor: pointer;
}
.galleryBig {
    width: 80%;
}
.detail-fulldescription{
	padding: 20px;
	max-height: 500px;
	position: relative;
	overflow: hidden;
}
.detail-fulldescription-showmore{
	position: absolute;
	top: 450px;
	width: calc(100% - 40px);
}
.detail-fulldescription-full{
	max-height: 100000px;
}
.detail-fulldescription-showmore-full{
	display: none;
}
.planHolder {
    display: flex;
    justify-content: center;
}
.planSingleHolder {
    width: 30%;
    /*margin: 1em;*/
    text-align: center;
    background-color: white;
    /*box-shadow: 2px 2px 10px #aaa;
    border: 1px solid #771a1c;*/
    position: relative;
    /*padding-bottom: 2em;*/
    min-width: 11em;
}
.planHeader {
    padding: 0.5em;
}
.planTitle {
    font-size: 1.5em;
    font-weight: bold;
}
.planNumberSelector {
    text-align: center;
    margin-bottom: 2em;
}
.planNumberSelectorInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: calc(0.6em + 1px);
    font-weight: 500;
}
.planNumberSelectorInput:focus{
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
    margin-bottom: 0.6em;
}
.planNumberSelectorLabel {
    font-size: 1.5em;
}
.planPriceBefore{
    font-size: 0.75em;
}
.billInput:focus {
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    padding-bottom: 4px !important;
    margin-bottom: 0.6em;
}
.billInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: calc(0.6em + 1px);
    font-weight: 500;
    width: 2em;
}
.planCosts {
    background-color: #771a1c;
    /*position: absolute;*/
    bottom: 0px;
    line-height: 1.5em;
    color: white;
    width: 100%;
    cursor: pointer;
}
.detail-comments{
	padding: 1em;
}
.detail-comments-heading{
}
.detail-comments-holder{

}
.detail-comments-oversizeholder{
	display: flex;
	align-items: center;
	overflow-x: auto;
}
.detail-comments-stars{
	padding: 5px;
}
.detail-comments-stars-bignum{
	font-size: 2em;
	text-align: center;
}
.detail-comments-stars-holder{
}
.detail-comments-section{
	display: flex;
	min-width: 200px;
	flex-direction: column;
	flex-wrap: wrap;
	height: 300px;
}
.detail-comment{
	padding: 10px;
	max-width: 250px;
	overflow: auto;
}
.detail-comment-author{
	font-style: italic;
	font-size: 12px;
}
.detail-comment-date{
	font-style: italic;
	font-size: 12px;
}
.detail-comment-text{
	word-wrap: break-word;
	text-align: left;
}
.detail-informations{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 10px;
}
.detail-information-holder{
	padding: 10px;
}
.newUserButton.button {
    font-size: 1.5em;
    padding: 0.5rem;
    margin: 0.5rem;
}
.area{
    height: 100%;
}
.goToMarketplace {
    font-size: 0.5em;
    text-align: center;
    line-height: 2em;
    margin-top: 2em;
}
.advisorInputHeading {
    font-size: 2rem;
    text-align: center;
    line-height: 1.5em;
}
.advisorInputInput {
    font-family: 'Quicksand', sans-serif;
    padding: 0.2em;
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #aaa;
    font-style: italic;
    margin-bottom: 1px;
    font-weight: 500;
    width: calc(100% - 0.4em);
    margin-top: 1em;
}
.advisorInputInput:focus {
    outline: 0;
    border-bottom: 2px solid #771a1c !important;
    margin-bottom: 0px;
}
.advisorNext {
    text-align: center;
    font-size: 1.5em;
    line-height: 2em;
    margin-top: 1em;
}

.advisorHolder {
    font-size: 1.5em;
    padding: 1em;
    border: 1px solid #771a1c;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255,0.7);
    box-shadow: inset 2px 2px 10px 2px #aaa;
    /*width: 25rem;*/
}
.advisorSkip {
    text-align: center;
}
.advisorOptionHolder {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;
}
.advisorOption {
    line-height: 2em;
    padding: 0.5em;
    background-color: #eee;
    cursor: pointer;
    border: 1px solid #771a1c;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.registerInfo {
    font-size: 0.6em;
    line-height: 2em;
}
/*fonts

    font-family: 'Dosis', sans-serif;

    font-family: 'Fjalla One', sans-serif;

    font-family: 'Quicksand', sans-serif;

*/

.sidebar{
    width:  $sidebar-width;
    height: 100vh;
    position: fixed;
    background-color: $sidebar-background;
    z-index: 300;
}
.sidebar-logo{
    background-image: $app-logo;
    margin: 0.5rem;
    height: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.sidebar-link-holder {
    color: white;
    padding-top: 2em;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0em;
    -webkit-margin-after: 0em;
}
.sidebar-link {
    list-style: none;
    cursor: pointer;
}
.sidebar-link:hover {
    background-color: #111;
}
.sidebar-link {
    list-style: none;
    padding: 0.5rem;
    padding-left: 1rem;
    display: flex;
}
.sidebar-link-important{
    margin-top: 1.5rem;
    margin-bottom: 1.5em;
}
.sidebar-link-caption{
    padding-left: 1em;
}
.service-logo-small {
    height: 1em;
    width: 1em;
    padding: 0rem !important;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    background-position: center;
}
.sidebar-icons{
    width: 1em;
    text-align: center;
}
.chatBar {
    width: 15rem;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 300;
    background-color: #333;
    height: 100vh;
}
.chatopen{
    margin-right: 15rem;
}
.chatopenWeb{
    width: calc(100% - 30rem);
}
.navigationRightInfos{
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 0.25rem;
    cursor: pointer;
}
.rightProfileHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    cursor: pointer;
    margin: 0.5rem;
    position: relative;
}
.rightProfileImage {
    height: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
    background-color: #eee;
}
.rightProfileFirstName {
    font-size: 0.8rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
}
.rightProfileLastName {
    font-size: 0.9rem;
    padding-top: 0.1rem;
    font-weight: bold;
}
.rightProfileNotifications {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    background-color: #ffc247;
    color: white;
    font-weight: 700;
    height: 1.55rem;
    line-height: 1.55rem;
    width: 1.55rem;
    text-align: center;
    border-radius: 2rem;
}
.rightProfileCaret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 0.3rem dashed;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    margin-left: 0.3rem;
}
.notificationPopup{
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    background-color: white;
    top: 2.5rem;
    right: 0;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.175);
    cursor: default;
}
.notificationPopupFooter {
    padding: 0.75rem 1.25rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.03);
}
.notificationPopupHeader {
    padding: 0.75rem 1.25rem;
    margin: 0;
    background-color: rgba(0,0,0,0.03);
    font-size: 0.8rem;
    font-weight: bold;
    white-space: nowrap;
}
.notificationItem {
    padding: 0.75rem 1.25rem;
    position: relative;
    margin-bottom: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.notificationIcon {
    color: #3abf94 !important;
    margin-right: 0.5rem;
    font-size: 1.5rem;
    width: 2rem;
    text-align: center;
}
.notificationText {
    margin: 0;
    font-size: 0.75rem;
    width: calc(100% - 2.5rem);
}
.notificationTime {
    width: calc(100% - 2.5rem);
    margin-left: 2.5rem;
    font-size: 0.6rem;
}
.notificationPopupScroller {
    max-height: 15rem;
    overflow-y: auto;
}
.dashboardWorking {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
}
.welcomeTile{
    margin: 2.5%;
    width: 25%;
    min-width: 10rem;
    max-width: 15rem;
    min-height: 20rem;
    background-color: #333 !important;
    color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.welcomeIcon {
    text-align: center;
    width: 100%;
    color: #ffc247;
    font-size: 4rem;
    line-height: 6rem !important;
}
.welcomeText {
    display: block;
    padding: 2rem;
    padding-top: 0;
}
.welcomeSentence {
    padding: 1rem;
    bottom: 0px;
    position: absolute;
    text-align: center;
    width: calc(100% - 2rem);
}
.appsTile {
    min-width: 60%;
    max-width: calc(92.5% - 15rem);
    margin: 2.5%;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: flex-start;
}
.logoAppsTile {
    margin: 1rem;
    min-height: 8rem;
    min-width: 8rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 4rem #f0f3ff;
    cursor: pointer;
    position: relative;
}
.logoAppsTile:hover{
    background-color: #f8f9fa;
}
.nameAppsTile {
    position: absolute;
    bottom: -1rem;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}
.serviceTile {
    min-width: 5rem;
    max-width: 15rem;
    margin: 2.5%;
    background-color: white;
    width: 25%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.serviceTileHeader {
    background-color: #ffc247 !important;
    padding: 2rem;
    min-height: 6rem;
}
.serviceTileHeaderText {
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}
.serviceUserHeader {
    margin-top: -1.6rem;
    border-bottom: 0.5rem solid transparent;
}
.serviceUserIconBackground {
    margin-left: 1rem;
    float: left;
    margin-right: 0.5rem;
}
.serviceUserIcon {
    width: 3rem;
    border-radius: 2rem;
    border: 0.2rem solid white;
}
.serviceUserName {
    font-size: 0.8rem;
    display: block;
    line-height: 2rem;
    color: white;
    font-weight: bold;
}
.serviceTime {
    font-size: 0.6rem;
}
.serviceText {
    padding: 1rem;
}
.barIcon {
    margin: 1rem;
    cursor: pointer;
}
.leftNavigation{
    display: flex;
}
.sidebar-small {
    position: fixed;
    background-color: #333;
    width: 3rem;
    height: 100vh;
    z-index: 300;
}
.informationTile {
    min-width: 5rem;
    max-width: 15rem;
    margin: 2.5%;
    background-color: #547fff;
    width: 25%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    color: white;
}
.informationTileHeader {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.informationText {
    padding: 1rem;
    bottom: 0;
    /*position: absolute;*/
}
.currentPaymentHolder {
    width: 40%;
}
.nextPaymentHolder {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.nextPaymentChart {
    width: 100%;
    height: 10rem;
}
.historyPaymentHolder {
    width: 60%;
}
.billingStreamChart {
    height: 20rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.paymentDataHolder {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.paymentCreditCardLabel {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.paymentAddressLabel {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.paymentAddressName {
    display: block;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 2rem;
}
.paymentAddressStreet {
    display: block;
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: bold;
    padding-left: 2rem;
}
span.paymentAddressCity {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}
span.paymentAddressEMail {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}
span.paymentAddressPhone {
    display: block;
    font-size: 0.9rem;
    padding-left: 2rem;
}
.payment-data-change-button {
    background-color: #547fff;
    color: #fff;
    font-weight: bold;
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
    background-image: linear-gradient(to right, rgba(255,255,255,0.15), transparent);
    cursor: pointer;
}
.billingHistoryInvoices{
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    margin: 2rem;
}
.informationGraph {
    max-width: 30rem;
    margin: 2.5%;
    background-color: #fff;
    width: 50%;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
    color: #333;
}
.informationGraphHeader {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.informationGraphHeader {
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
}
.informationGraphContent {
    width: 100%;
    height: 15rem;
    position: relative;
    display: flex;
    justify-content: center;
}
.appBreadCromp {
    margin-bottom: 1.5rem;
    font-size: 0.7rem;
}
.appBreadCrompNoLink {
    color: #798892;
    margin-bottom: 1.5rem;
}
.appBreadCrompLink {
    font-weight: 600;
    cursor: pointer;
}
.appHeader {
    display: flex;
    height: 20rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.25rem;
    /*overflow: hidden;*/
}
.appHeaderGallery {
    width: calc(100% - 15rem);
    background-size: cover;
    background-position: center;
    position: relative;
}
.appHeaderInfos {
    width: 15rem;
    background-color: white;
    position: relative;
}
.appHeaderStars {
    line-height: 2em;
    padding: 1rem;
}
.appHeaderName {
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    text-transform: uppercase;
}
.appHeaderType {
    color: #798892;
    padding-left: 1rem;
    font-weight: 400;
    text-transform: capitalize;
}
.appHeaderPriceHolder {
    position: absolute;
    bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(100% - 2rem);
}
.appHeaderSelectDepartment {
    position: relative;
    padding: 0.5rem;
    background-color: #e9ecef;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: .25rem;
    border: 1px solid #e9ecef;
    margin-top: 0.25rem;
}
.appHeaderSelectDepartmentOptionHolder {
    position: absolute;
    display: none;
}
.appHeaderBuyButton {
    position: relative;
    padding: 0.5rem;
    background-color: #3abf94;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: .25rem;
    border: 1px solid #3abf94;
    margin-top: 0.25rem;
    color: white;
    font-weight: bold;
}
.appHeaderSelectPlan {
    position: relative;
    padding: 0.5rem;
    background-color: #e9ecef;
    cursor: pointer;
    font-size: 0.8rem;
    border-radius: .25rem;
    border: 1px solid #e9ecef;
    margin-top: 0.25rem;
}
.appHeaderSelectPlanOptionHolder {
    position: absolute;
    display: none;
}
.caretApp{
    /*margin-left: 1rem;*/
    float: right;
}
.appHeader {
    display: flex;
    height: 20rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.25rem;
    /*overflow: hidden;*/
}
.appDescrition {
    background-color: white;
    border-radius: 0.25rem;
    display: flex;
    min-height: 15rem;
    padding: 1rem;
}
.appDescriptionThird {
    width: 30%;
    padding: 1rem;
}
.appDescriptionHeading {
    font-size: 1.15rem;
    font-weight: bold;
    text-transform: uppercase;
}
.appDescriptionLink{
    cursor: pointer;
    text-decoration: underline;
}
.appHeading {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    line-height: 3rem;
}
.rcLogoAppsTile {
    margin: 1rem;
    min-height: 4rem;
    min-width: 4rem;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 0.2rem;
    box-shadow: 0 0 1rem #f0f3ff;
    cursor: pointer;
    position: relative;
}
.galleryDots {
    position: absolute;
    width: 100%;
    bottom: 0.25rem;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallyDot {
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 1rem;
  background-color: rgba(255,255,255,0.3);
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  border: 1px solid rgba(0,0,0,0.5);
  cursor: pointer;
}
.gallyDot:hover{
  background-color: rgba(255,255,255,0.5);
}
.gallyDotActive{
  background-color: rgba(255,255,255,0.5);
}
.galleryLeft {
    position: absolute;
    left: 0;
    height: 100%;
    width: 15%;
    line-height: 20rem;
    padding-left: 1rem;
    background-image: linear-gradient(to left, transparent 0%, #333 100%);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}
.galleryRight {
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    line-height: 20rem;
    padding-right: 1rem;
    text-align: right;
    background-image: linear-gradient(to right, transparent 0%, #333 100%);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.5;
}
.galleryLeft:hover{
    opacity: 1;
}
.galleryRight:hover{
    opacity: 1;
}
.UMS {
    max-width: 60rem;
    margin: auto;
    margin-top: 5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 0 4rem #f0f3ff;
    border-radius: 0.2rem;
    position: relative;
}
.departmentHolder {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.departmentIcon {
    height: 3rem;
    width: 3rem;
    background-color: #547fff;
    text-align: center;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}
.departmentName {
    width: 8.75rem;
    line-height: 3rem;
    padding-left: 0.25rem;
    border-bottom: 1px solid #d6dee5;
    height: calc(3rem - 2px);
    border-top: 1px solid #d6dee5;
    position: relative;
}
.employeeHolder {
    border: 1px solid #d6dee5;
    width: calc(100% - 13rem);
    min-height: calc(3rem - 2px);
    display: flex;
    flex-wrap: wrap;
}
.serviceHolder {
    border: 1px solid #d6dee5;
    border-top: 0px;
    width: calc(100% - 13rem);
    height: calc(3rem - 1px);
    display: flex;
    align-items: center;
}
.addEmployee {
    margin: 0.5rem;
    height: calc(2rem - 2px);
    width: 2rem;
    text-align: center;
    background-color: #e9ecef;
    line-height: 2rem !important;
    cursor: pointer;
}
.employeeName {
    font-size: 0.75rem;
    font-weight: bold;
}
.employeeTags {
    font-size: 0.75rem;
}
.employee {
    width: 9rem;
    margin-top: 0.5rem;
    position: relative;
}
.addHolderAll{
    width: 0;
    height: 0;
    overflow: hidden;
}
.addEmployeeHolder {
    position: relative;
}
.addHolderAll {
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    background-color: white;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}
.addItem {
    height: 2rem;
    margin: 0.5rem;
}
.addName {
    line-height: 2rem;
}
.addHolderAllNone {
    display: none;
}
.employeeInfo {
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}
.employeeInfoNone {
    display: none;
}
.departmentEdit {
    float: right;
    line-height: calc(3rem - 2px) !important;
    margin-right: 0.5rem;
    cursor: pointer;
}
.departmentAddInfoNone{
    display: none;
}
.departmentAddInfo{
    width: 11rem;
    height: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    min-width: 15rem;
    top: 2.5rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    cursor: default;
}
#conversationlist {
    list-style: none;
}
.PApp {
    width: 9rem;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}
.addHolder{
    max-height: 10rem;
    overflow-y: scroll;
}

.subaddholder-holder{
    position: relative;
}
.subaddholder{
    position: absolute;
    top: -1rem;
    left: 15rem;
    background-color: white;
    z-index: 1000;
    min-width: 15rem;
    margin: 0.125rem 0 0;
    background-clip: padding-box;
    border: 1px solid #e9ecef;
    max-height: 10rem;
    overflow-y: scroll;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
}
.periodSwitch > .Selected{
    background-color: red;
}
.planHeaderHolder{
    display: flex;
    justify-content: center;
}
.planFeatureHolder{
    display: flex;
    justify-content: center;
}
.planFeature{
    width: 30%;
    min-width: 11rem;
}
.pFeature{
    height: 3rem;
    display: flex;
    align-items: center;
}
.planFeatureHeader{
    text-align: center;
    line-height: 2rem;
}
select{
    background-color: transparent;
    border: none;
    width: 100%;
    color: #333;
    font-family: Quicksand;
}
select:focus{
    outline: none;
}
option{
    border: none;
}
.optionsHolder{
    display: flex;
    width: 100%;
    height: 100vh;
}
.optionsSidebar{
    width: 20rem;
    background-color: #357AA5;
    overflow: auto;
}
.optionsExplainBlock {
    width: calc(50% - 10rem);
    display: flex;
    align-items: center;
    background-color: #eee;
}
.optionsFormularBlock {
    width: calc(50% - 10rem);
    display: flex;
    align-items: center;
}
.optionsExplainTextHolder{
    margin: 5rem;
}
.optionsExplainIconHolder{
    font-size: 5rem;
    color: #357AA5;
}
.optionsExplainHeading{
    line-height: 5rem;
    font-size: 2rem;
    margin-left: 1rem;
    color: #357AA5;
    font-weight: bold;
}
.inputBox {
    padding: 0.25rem;
    background-color: white;
    border: 1px solid #aaa;
    min-width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2rem;
}
.inputBoxTitle {
    font-size: 0.75rem;
    font-weight: bold;
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
}
.inputBoxField {
    width: 100%;
    border: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5rem;
    color: #357AA5;
}
.inputBoxField:focus{
    outline: none;
}
.tabBox {
    padding: 0.25rem;
    min-width: 15rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.tab {
    padding: 0.25rem;
    background-color: #aaa;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
    text-align: center;
}
.tab:hover{
    background-color: #3389BF;
}
.tabActive{
    background-color: #357AA5;
    color: white;
}
.journeyHolder {
    position: relative;
    margin: 2rem;
}
.journeyHeader{
    color: white;
    font-size: 1.25rem;
    text-align: center;
}
.journeyCircle{
    width: 6rem;
    border: solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
    height: 6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
}
.journeyDoneCircle{
    width: 6rem;
    border: solid white;
    border-radius: 50%;
    text-align: center;
    color: black;
    height: 6rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0.25rem;
    background-color: #1CA543;
}
.journeyCircle:hover{
    background-color: #3389BF;
}
.journeyLeftBottomLine{
    display: block;
    position: absolute;
    height: 2rem;
    width: 6.5rem;
    left: 3rem;
    border-bottom: dotted white;
    top: 9rem;
    border-radius: 0rem 1rem;
}
.advisorBottomPageButtonsHolder {
    display: flex;
    justify-content: center;
}
.advisorBottomPageButtonNext {
    border: none;
    background: none;
    background-color: #357AA5;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.inputBoxHolder{
    display: flex;
    align-items: center;
}
.inputBoxSymbol {
    padding-right: 0.25rem;
    color: #357AA5;
}
.inputBoxError {
    font-size: 0.5rem;
    position: absolute;
    right: 0;
    color: #A52C2C;
}