$modal-z: 1000;
$modal-wh: 50%;

#overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $modal-z;
}

#popup {
  background-color: #fff;
  height: $modal-wh;
  position: relative;
  width: $modal-wh;
}

#popup-header {
  background: antiquewhite;
  border-bottom: 1px solid silver;
  display: flex;
}

#popup-header-text {
  font-weight: bold;
  padding-top: 5px;
}

#popup-close-button {
  background-color: #082e44;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  line-height: 35px;
  position: absolute;
  right: -1rem;
  text-align: center;
  top: -1rem;
  width: 30px;
}
